# Cleaning methodology for pollutant data

This notebook contains the key steps taken to gather and clean air pollution data. As the data set is quite large and can only be downloaded in small chunks, we are currently investigation different ways of downloading the data in order to increase efficiency. As we continue to explore the data, more substantial filtering and cleaning will take place.

In [1]:
import sys
!{sys.executable} -m pip install django

Requirement already satisfied: django in /opt/conda/lib/python3.6/site-packages (3.1.4)
Requirement already satisfied: asgiref<4,>=3.2.10 in /opt/conda/lib/python3.6/site-packages (from django) (3.3.1)
Requirement already satisfied: sqlparse>=0.2.2 in /opt/conda/lib/python3.6/site-packages (from django) (0.4.1)
Requirement already satisfied: pytz in /opt/conda/lib/python3.6/site-packages (from django) (2018.7)

In [1]:
import pandas as pd
import numpy as np
# from django.urls import path

## Step 1: Identify boundary for monitoring. 

Having manually sifted through the data, we were able to split several monitoring sites into "inner" and "outer" ranges based on their geographic location. The data points closest to our area of focus (Heathrow Airport) have been categorised as "inner" locations and will be vital in our investigation into emissions. The "outer" locations will be used as a way of comparisson to gain a deeper understanding of the scale of the impact arising from air pollution.

|CCG | Borough| Inner location - monitoring station| Outer location - monitoring site|
|---:|:-----|:-----------|:------------|
|Hillingdon |Hillingdon| Hillingdon South Ruislip, Hillingdon 2 Hillingdon Hospital, Hillingdon Oxford Avenue, Hillingdon Harmondsworth, Hillingdon Harmondsworth Osiris, Hillingdon Hayes, Heathrow LHR2, Heathrow Bath Road, Hillingdon Sipson, Heathrow Green Gates| |
|East Berkshire | Slough |Slough Town Centre Wellington Street,Slough Brands Hill London Road,Slough Windmill Bath Road,Slough Colnbrook,Slough Town Centre A4,Slough Lakeside 1 Osiris,Slough Colnbrook Osiris,Slough Chalvey,Slough Lakeside 2,Slough Lakeside 2 Osiris,Slough - Dennis Way LP11,Slough - Monksfield Way LP20,Slough - The Hawthorns LP2,Slough - Erica Close LP3,Slough - Hatton Avenue LP13,Slough - St Andrews Way LP12,Slough - The Hawthorns LP10,Slough - Francis Way LP13,Slough - The Hawthorns LP1,Slough - Monksfield Way LP19,Slough - Brighton Spur LP3,Slough - Bower Way LP1,Slough - Hatton Avenue LP3,Slough - Cinder Track LP37|
|Hounslow| Hounslow | Hounslow Cranford, Hounslow Chiswick, Hounslow Brentford, Hounslow Heston, Hounslow Hatton Cross, Hounslow Feltham, Hounslow Gunnersbury |
|Ealing | Ealing | Ealing Horn Lane
|Buckinghamshire|South Bucks|Iver Thorney Lane North, Iver North Park Road, Iver Primary School|
|Surrey Heartlands|Richmond|- |Elmbridge|
| - | Spelthorne | Spelthorne Shepperton Squire's Bridge Road, Spelthorne knowle Green, Spelthorne Sunbury Cross, Heathrow Oaks Road|
| - |Waverly and Woking | - | H&F Shepherd’s Bush, Godalming Ockford Road 2|
|South West London| Richmond | London Teddington Bushy Park. |
|Hammersmith & Fulham|London Borough of Hammersmith and Fulham|-| H&F Hammersmith Town Centre, H&F Shepherd’s Bush|
|Watford|Hertfordshire and Bedfordshire|-|Watford Town Hall|
|Oxfordshire|Oxfordshire|-|Oxford High St, Oxford St Ebbes (Cal Club), Oxford Center Roadside, Oxford St Ebbes|
| Berkshire West| Readiing| - | Reading Caversham Road, Reading Oxford Road, Reading London Road, Reading New Town|

In [2]:
# df_dict = pd.read_csv('~/work/Documents/DataScience/DS4A/project/data/04-2020_Hillingdon copy.csv', error_bad_lines=False, header=[0,1], index_col =0, dtype='unicode')

## Step 2: Format the Data

In [11]:
df_dict = pd.read_excel('~/work/Downloads/data.xlsx', header=[0,1], sheet_name=None)

In [12]:
df_dict = pd.concat(df_dict.values(), axis=0)

In [13]:
df = pd.DataFrame(df_dict, columns=df_dict.keys())

In [14]:
df

       Unnamed: 0_level_0   Unnamed: 1_level_0 Hounslow Boston Manor Park  \
                     Date                 Time               Black Carbon
0              2004-01-01             01:00:00                    No data
1              2004-01-01             02:00:00                    No data
2              2004-01-01             03:00:00                    No data
3              2004-01-01             04:00:00                    No data
4              2004-01-01             05:00:00                    No data
...                   ...                  ...                        ...
148309         2020-12-01             20:00:00                    No data
148310         2020-12-01             21:00:00                    No data
148311         2020-12-01             22:00:00                    No data
148312         2020-12-01             23:00:00                    No data
148313         2020-12-01  1900-01-01 00:00:00                    No data

                                                                         \
       Status Carbon monoxide Status.1 PM10 Particulate matter Status.2
0         NaN         No data      NaN                 No data      NaN
1         NaN         No data      NaN                 No data      NaN
2         NaN         No data      NaN                 No data      NaN
3         NaN         No data      NaN                 No data      NaN
4         NaN         No data      NaN                 No data      NaN
...       ...             ...      ...                     ...      ...
148309    NaN         No data      NaN                 No data      NaN
148310    NaN         No data      NaN                 No data      NaN
148311    NaN         No data      NaN                 No data      NaN
148312    NaN         No data      NaN                 No data      NaN
148313    NaN         No data      NaN                 No data      NaN

                              ...           Hounslow Feltham            \
       Nitric Oxide Status.3  ... PM2.5 Particulate matter.1 Status.11
0           No data      NaN  ...                    No data       NaN
1           No data      NaN  ...                    No data       NaN
2           No data      NaN  ...                    No data       NaN
3           No data      NaN  ...                    No data       NaN
4           No data      NaN  ...                    No data       NaN
...             ...      ...  ...                        ...       ...
148309      No data      NaN  ...                    No data       NaN
148310      No data      NaN  ...                    No data       NaN
148311      No data      NaN  ...                    No data       NaN
148312      No data      NaN  ...                    No data       NaN
148313      No data      NaN  ...                    No data       NaN

                                                                             \
       Sulphur dioxide Status.12 Total Particulates Status.13 Volatile PM10
0              No data       NaN            No data       NaN       No data
1              No data       NaN            No data       NaN       No data
2              No data       NaN            No data       NaN       No data
3              No data       NaN            No data       NaN       No data
4              No data       NaN            No data       NaN       No data
...                ...       ...                ...       ...           ...
148309         No data       NaN            No data       NaN       No data
148310         No data       NaN            No data       NaN       No data
148311         No data       NaN            No data       NaN       No data
148312         No data       NaN            No data       NaN       No data
148313         No data       NaN            No data       NaN       No data


       Status.14 Volatile PM2.5 Status.15
0            NaN        No data       NaN
1            NaN        No data       NaN
2            NaN        No data       NaN
3            NaN        No data       NaN
4            NaN        No data       NaN
...          ...            ...       ...
148309       NaN        No data       NaN
148310       NaN        No data       NaN
148311       NaN        No data       NaN
148312       NaN        No data       NaN
148313       NaN        No data       NaN

[148314 rows x 258 columns]

In [15]:
# pd.set_option('display.max_columns', 100)

## Step 3: Unify missing data

In [16]:
df = df.replace('No data', np.nan)
df = df.replace('No Data', np.nan)
df

       Unnamed: 0_level_0   Unnamed: 1_level_0 Hounslow Boston Manor Park  \
                     Date                 Time               Black Carbon
0              2004-01-01             01:00:00                        NaN
1              2004-01-01             02:00:00                        NaN
2              2004-01-01             03:00:00                        NaN
3              2004-01-01             04:00:00                        NaN
4              2004-01-01             05:00:00                        NaN
...                   ...                  ...                        ...
148309         2020-12-01             20:00:00                        NaN
148310         2020-12-01             21:00:00                        NaN
148311         2020-12-01             22:00:00                        NaN
148312         2020-12-01             23:00:00                        NaN
148313         2020-12-01  1900-01-01 00:00:00                        NaN

                                                                         \
       Status Carbon monoxide Status.1 PM10 Particulate matter Status.2
0         NaN             NaN      NaN                     NaN      NaN
1         NaN             NaN      NaN                     NaN      NaN
2         NaN             NaN      NaN                     NaN      NaN
3         NaN             NaN      NaN                     NaN      NaN
4         NaN             NaN      NaN                     NaN      NaN
...       ...             ...      ...                     ...      ...
148309    NaN             NaN      NaN                     NaN      NaN
148310    NaN             NaN      NaN                     NaN      NaN
148311    NaN             NaN      NaN                     NaN      NaN
148312    NaN             NaN      NaN                     NaN      NaN
148313    NaN             NaN      NaN                     NaN      NaN

                              ...           Hounslow Feltham            \
       Nitric Oxide Status.3  ... PM2.5 Particulate matter.1 Status.11
0               NaN      NaN  ...                        NaN       NaN
1               NaN      NaN  ...                        NaN       NaN
2               NaN      NaN  ...                        NaN       NaN
3               NaN      NaN  ...                        NaN       NaN
4               NaN      NaN  ...                        NaN       NaN
...             ...      ...  ...                        ...       ...
148309          NaN      NaN  ...                        NaN       NaN
148310          NaN      NaN  ...                        NaN       NaN
148311          NaN      NaN  ...                        NaN       NaN
148312          NaN      NaN  ...                        NaN       NaN
148313          NaN      NaN  ...                        NaN       NaN

                                                                             \
       Sulphur dioxide Status.12 Total Particulates Status.13 Volatile PM10
0                  NaN       NaN                NaN       NaN           NaN
1                  NaN       NaN                NaN       NaN           NaN
2                  NaN       NaN                NaN       NaN           NaN
3                  NaN       NaN                NaN       NaN           NaN
4                  NaN       NaN                NaN       NaN           NaN
...                ...       ...                ...       ...           ...
148309             NaN       NaN                NaN       NaN           NaN
148310             NaN       NaN                NaN       NaN           NaN
148311             NaN       NaN                NaN       NaN           NaN
148312             NaN       NaN                NaN       NaN           NaN
148313             NaN       NaN                NaN       NaN           NaN


       Status.14 Volatile PM2.5 Status.15
0            NaN            NaN       NaN
1            NaN            NaN       NaN
2            NaN            NaN       NaN
3            NaN            NaN       NaN
4            NaN            NaN       NaN
...          ...            ...       ...
148309       NaN            NaN       NaN
148310       NaN            NaN       NaN
148311       NaN            NaN       NaN
148312       NaN            NaN       NaN
148313       NaN            NaN       NaN

[148314 rows x 258 columns]

## Step 4: Identify closed monitoring stations

In [10]:
non_null_columns = [col for col in df.columns if df.loc[:, col].notna().any()]
open_monitoring_sites = df[non_null_columns]
open_monitoring_sites

       Unnamed: 0_level_0   Unnamed: 1_level_0 Hounslow Boston Manor Park  \
                     Date                 Time           Nitrogen dioxide
0              2004-01-01             01:00:00                        NaN
1              2004-01-01             02:00:00                        NaN
2              2004-01-01             03:00:00                        NaN
3              2004-01-01             04:00:00                        NaN
4              2004-01-01             05:00:00                        NaN
...                   ...                  ...                        ...
148315         2020-12-01             20:00:00                        NaN
148316         2020-12-01             21:00:00                        NaN
148317         2020-12-01             22:00:00                        NaN
148318         2020-12-01             23:00:00                        NaN
148319         2020-12-01  1900-01-01 00:00:00                        NaN

                                                                  \
       Status PM10 particulate matter (Hourly measured) Status.1
0         NaN                                       NaN      NaN
1         NaN                                       NaN      NaN
2         NaN                                       NaN      NaN
3         NaN                                       NaN      NaN
4         NaN                                       NaN      NaN
...       ...                                       ...      ...
148315    NaN                                       NaN      NaN
148316    NaN                                       NaN      NaN
148317    NaN                                       NaN      NaN
148318    NaN                                       NaN      NaN
148319    NaN                                       NaN      NaN

       Hounslow Brentford                                    ...  \
         Nitrogen dioxide   Status Carbon monoxide Status.1  ...
0                26.00000  V ugm-3             0.4  V mgm-3  ...
1                10.00000  V ugm-3             0.3  V mgm-3  ...
2                 5.00000  V ugm-3             0.3  V mgm-3  ...
3                 5.00000  V ugm-3             0.3  V mgm-3  ...
4                 6.00000  V ugm-3             0.2  V mgm-3  ...
...                   ...      ...             ...      ...  ...
148315           73.79128  N ugm-3             NaN      NaN  ...
148316           71.09162  N ugm-3             NaN      NaN  ...
148317           70.76112  N ugm-3             NaN      NaN  ...
148318           63.63353  N ugm-3             NaN      NaN  ...
148319           57.89161  N ugm-3             NaN      NaN  ...

                            Hounslow Gunnersbury                    \
       PM10 particulate matter (Hourly measured)          Status.1
0                                            NaN               NaN
1                                            NaN               NaN
2                                            NaN               NaN
3                                            NaN               NaN
4                                            NaN               NaN
...                                          ...               ...
148315                                      32.5  N ugm-3 (Ref.eq)
148316                                      44.2  N ugm-3 (Ref.eq)
148317                                      34.2  N ugm-3 (Ref.eq)
148318                                      33.3  N ugm-3 (Ref.eq)
148319                                      24.2  N ugm-3 (Ref.eq)

       Hounslow Hatton Cross           \
            Nitrogen dioxide   Status
0                        NaN      NaN
1                        NaN      NaN
2                        NaN      NaN
3                        NaN      NaN
4                        NaN      NaN
...                      ...      ...
148315              67.98938  N ugm-3
148316              66.74625  N ugm-3
148317              66.31594  N ugm-3
148318              54.50625  N ugm-3
148319              52.78500  N ugm-3

                                                                    \
       PM10 particulate matter (Hourly measured)          Status.1
0                                            NaN               NaN
1                                            NaN               NaN
2                                            NaN               NaN
3                                            NaN               NaN
4                                            NaN               NaN
...                                          ...               ...
148315                                      22.5  N ugm-3 (Ref.eq)
148316                                      26.7  N ugm-3 (Ref.eq)
148317                                      27.5  N ugm-3 (Ref.eq)
148318                                      24.2  N ugm-3 (Ref.eq)
148319                                      20.0  N ugm-3 (Ref.eq)

        Hounslow Heston                                                     \
       Nitrogen dioxide   Status PM10 particulate matter (Hourly measured)
0                   NaN      NaN                                       NaN
1                   NaN      NaN                                       NaN
2                   NaN      NaN                                       NaN
3                   NaN      NaN                                       NaN
4                   NaN      NaN                                       NaN
...                 ...      ...                                       ...
148315         91.48451  N ugm-3                                      24.9
148316         87.85093  N ugm-3                                      23.7
148317         90.22833  N ugm-3                                      24.6
148318         85.23379  N ugm-3                                      22.8
148319         74.30364  N ugm-3                                      17.1


             Status.1
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
148315  N ugm-3 (VCM)
148316  N ugm-3 (VCM)
148317  N ugm-3 (VCM)
148318  N ugm-3 (VCM)
148319  N ugm-3 (VCM)

[148320 rows x 46 columns]

## Next Steps

- Use API call to gather data from monitoring stations
- Investigate other data sources for mass downloads and ease
- Aggregate data on a daily basis
- Investigate similarities/differences between outer and inner locations, perform EDA on each
- Aggregate data annually and merge with Health and Flight data