In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
pd.__version__

'1.1.5'

In [11]:
#daily = pd.read_csv('./dailyOuterStacked.csv')
monthly = pd.read_csv('./monthlyOuterStacked.csv')
yearly = pd.read_csv('./yearlyOuterStacked.csv')

In [12]:
monthly.head()

,Unnamed: 0,Nitrogen dioxide,Ozone,PM10 particulate matter (Hourly measured),PM2.5 particulate matter (Hourly measured),Sulphur dioxide,CCG
0,(Timest,64.905934,NaN,30.345425,NaN,13.844517,Hammersmith and Fulham
1,(Timest,42.480162,NaN,17.608884,NaN,NaN,Hammersmith and Fulham
2,(Timest,57.440031,NaN,23.602151,NaN,NaN,Oxford
3,(Timest,NaN,38.675783,NaN,NaN,NaN,Oxford
4,(Timest,39.654776,28.162948,NaN,NaN,NaN,Watford

In [5]:
pollutants = ["Nitrogen dioxide", 'Ozone',
       'PM10 particulate matter (Hourly measured)',
       'PM2.5 particulate matter (Hourly measured)', 'Sulphur dioxide',]

# Daily

6000 data points, commented out because takes too long

In [6]:
#sns.lineplot(x="Date", y="Nitrogen dioxide", hue="Location", data=daily) 
#plt.show()

# Monthly

200 data points

In [7]:
for pollutant in pollutants:
    print(pollutant)
    sns.lineplot(x="Date", y=pollutant, hue="Location", data=monthly) 
    plt.show()

Nitrogen dioxide

ValueError: Could not interpret input 'Date'

# Yearly

17 data points

In [ ]:
for pollutant in pollutants:
    print(pollutant)
    sns.lineplot(x="Date", y=pollutant, hue="Location", data=yearly) 
    plt.show()