# Cleaning methodology for pollutant data

This notebook contains the key steps taken to gather and clean air pollution data. As the data set is quite large and can only be downloaded in small chunks, we are currently investigation different ways of downloading the data in order to increase efficiency. As we continue to explore the data, more substantial filtering and cleaning will take place.

In [1]:
import pandas as pd
import numpy as np

## Step 1: Identify boundary for monitoring. 

Having manually sifted through the data, we were able to split several monitoring sites into "inner" and "outer" ranges based on their geographic location. The data points closest to our area of focus (Heathrow Airport) have been categorised as "inner" locations and will be vital in our investigation into emissions. The "outer" locations will be used as a way of comparisson to gain a deeper understanding of the scale of the impact arising from air pollution.

|CCG | Borough| Inner location - monitoring station| Outer location - monitoring site|
|---:|:-----|:-----------|:------------|
|Hillingdon |Hillingdon| Hillingdon South Ruislip, Hillingdon 2 Hillingdon Hospital, Hillingdon Oxford Avenue, Hillingdon Harmondsworth, Hillingdon Harmondsworth Osiris, Hillingdon Hayes, Heathrow LHR2, Heathrow Bath Road, Hillingdon Sipson, Heathrow Green Gates| |
|East Berkshire | Slough |Slough Town Centre Wellington Street,Slough Brands Hill London Road,Slough Windmill Bath Road,Slough Colnbrook,Slough Town Centre A4,Slough Lakeside 1 Osiris,Slough Colnbrook Osiris,Slough Chalvey,Slough Lakeside 2,Slough Lakeside 2 Osiris,Slough - Dennis Way LP11,Slough - Monksfield Way LP20,Slough - The Hawthorns LP2,Slough - Erica Close LP3,Slough - Hatton Avenue LP13,Slough - St Andrews Way LP12,Slough - The Hawthorns LP10,Slough - Francis Way LP13,Slough - The Hawthorns LP1,Slough - Monksfield Way LP19,Slough - Brighton Spur LP3,Slough - Bower Way LP1,Slough - Hatton Avenue LP3,Slough - Cinder Track LP37|
|Hounslow| Hounslow | Hounslow Cranford, Hounslow Chiswick, Hounslow Brentford, Hounslow Heston, Hounslow Hatton Cross, Hounslow Feltham, Hounslow Gunnersbury |
|Ealing | Ealing | Ealing Horn Lane
|Buckinghamshire|South Bucks|Iver Thorney Lane North, Iver North Park Road, Iver Primary School|
|Surrey Heartlands|Richmond|- |Elmbridge|
| - | Spelthorne | Spelthorne Shepperton Squire's Bridge Road, Spelthorne knowle Green, Spelthorne Sunbury Cross, Heathrow Oaks Road|
| - |Waverly and Woking | - | H&F Shepherd’s Bush, Godalming Ockford Road 2|
|South West London| Richmond | London Teddington Bushy Park. |
|Hammersmith & Fulham|London Borough of Hammersmith and Fulham|-| H&F Hammersmith Town Centre, H&F Shepherd’s Bush|
|Watford|Hertfordshire and Bedfordshire|-|Watford Town Hall|
|Oxfordshire|Oxfordshire|-|Oxford High St, Oxford St Ebbes (Cal Club), Oxford Center Roadside, Oxford St Ebbes|
| Berkshire West| Readiing| - | Reading Caversham Road, Reading Oxford Road, Reading London Road, Reading New Town|

## Step 2: Format the Data

In [2]:
boroughs = ['hammersmithAndFulham', 'oxford', 'reading', 'watford']

In [3]:
li = []

for borough in boroughs:
    print(borough)
    df = pd.read_excel('./raw_data/{}.xlsx'.format(borough), header=[0,1], sheet_name=None)
    df = pd.concat(df.values(), axis=0)
    df = pd.DataFrame(df, columns=df.keys())
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=False)

hammersmithAndFulham
oxford
reading
watford

In [4]:
# frame.to_excel("concatinated_pollution_data.xlsx")

In [5]:
# df = pd.read_excel('concatinated_pollution_data.xlsx', header=[0,1], sheet_name=None)
# df = pd.concat(df.values(), axis=0)
# df = pd.DataFrame(df, columns=df.keys())
# df.head()

In [6]:
# pd.set_option('display.max_columns', 100)

## Step 3: Unify missing data

In [7]:
#frame = frame.rename(columns={"index": "Date", "Unnamed: 0_level_1": "Hour"})
#frame = frame.set_index(["Date","Time"])
#frame = frame["Date"].dt.date
#frame = frame.reset_index()
#frame = frame.rename(columns={"Date": "Index", "index": "Date", "Unnamed: 0_level_1": "Hour"})
frame

               Broadway                                            \
       Nitrogen dioxide PM10 particulate matter (Hourly measured)
0               No data                                   No data
1               No data                                   No data
2               No data                                   No data
3               No data                                   No data
4               No data                                   No data
...                 ...                                       ...
148317              NaN                                       NaN
148318              NaN                                       NaN
148319              NaN                                       NaN
148320              NaN                                       NaN
148321              NaN                                       NaN

                            Brook Green  \
       Sulphur dioxide Nitrogen dioxide
0              No data          No data
1              No data          No data
2              No data          No data
3              No data          No data
4              No data          No data
...                ...              ...
148317             NaN              NaN
148318             NaN              NaN
148319             NaN              NaN
148320             NaN              NaN
148321             NaN              NaN

                                                                 Date  \
       PM10 particulate matter (Hourly measured)   Unnamed: 0_level_1
0                                        No data  2004-01-01 00:00:00
1                                        No data  2004-01-01 00:00:00
2                                        No data  2004-01-01 00:00:00
3                                        No data  2004-01-01 00:00:00
4                                        No data  2004-01-01 00:00:00
...                                          ...                  ...
148317                                       NaN  2020-12-01 00:00:00
148318                                       NaN  2020-12-01 00:00:00
148319                                       NaN  2020-12-01 00:00:00
148320                                       NaN                  NaN
148321                                       NaN                  End

       H&F Hammersmith Town Centre           \
                  Nitrogen dioxide    Ozone
0                          No data  No data
1                          No data  No data
2                          No data  No data
3                          No data  No data
4                          No data  No data
...                            ...      ...
148317                         NaN      NaN
148318                         NaN      NaN
148319                         NaN      NaN
148320                         NaN      NaN
148321                         NaN      NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                        No data
1                                        No data
2                                        No data
3                                        No data
4                                        No data
...                                          ...
148317                                       NaN
148318                                       NaN
148319                                       NaN
148320                                       NaN
148321                                       NaN

                                                   ...  \
       PM2.5 particulate matter (Hourly measured)  ...
0                                         No data  ...
1                                         No data  ...
2                                         No data  ...
3                                         No data  ...
4                                         No data  ...
...                                           ...  ...
148317                                        NaN  ...
148318                                        NaN  ...
148319                                        NaN  ...
148320                                        NaN  ...
148321                                        NaN  ...

                             Reading Oxford Road      Scrubs Lane  \
       PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                            NaN          No data
1                                            NaN          No data
2                                            NaN          No data
3                                            NaN          No data
4                                            NaN          No data
...                                          ...              ...
148317                                       NaN              NaN
148318                                       NaN              NaN
148319                                       NaN              NaN
148320                                       NaN              NaN
148321                                       NaN              NaN

                                                                 Time  \
       PM10 particulate matter (Hourly measured)   Unnamed: 1_level_1
0                                        No data             01:00:00
1                                        No data             02:00:00
2                                        No data             03:00:00
3                                        No data             04:00:00
4                                        No data             05:00:00
...                                          ...                  ...
148317                                       NaN             22:00:00
148318                                       NaN             23:00:00
148319                                       NaN  1900-01-01 00:00:00
148320                                       NaN                  NaN
148321                                       NaN                  NaN

       Watford Roadside                           Watford Town Hall  \
        Carbon monoxide Nitrogen dioxide    Ozone  Nitrogen dioxide
0                   NaN              NaN      NaN               NaN
1                   NaN              NaN      NaN               NaN
2                   NaN              NaN      NaN               NaN
3                   NaN              NaN      NaN               NaN
4                   NaN              NaN      NaN               NaN
...                 ...              ...      ...               ...
148317          No data          No data  No data           No data
148318          No data          No data  No data           No data
148319          No data          No data  No data           No data
148320              NaN              NaN      NaN               NaN
148321              NaN              NaN      NaN               NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
148317                                      15.8
148318                                      16.9
148319                                      14.5
148320                                       NaN
148321                                       NaN


       PM2.5 particulate matter (Hourly measured)
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
148317                                       10.9
148318                                         12
148319                                       10.5
148320                                        NaN
148321                                        NaN

[567944 rows x 30 columns]

In [8]:
frame.columns

MultiIndex([(                   'Broadway', ...),
            (                   'Broadway', ...),
            (                   'Broadway', ...),
            (                'Brook Green', ...),
            (                'Brook Green', ...),
            (                       'Date', ...),
            ('H&F Hammersmith Town Centre', ...),
            ('H&F Hammersmith Town Centre', ...),
            ('H&F Hammersmith Town Centre', ...),
            ('H&F Hammersmith Town Centre', ...),
            (        'H&F Shepherd's Bush', ...),
            (        'H&F Shepherd's Bush', ...),
            (             'Oxford High St', ...),
            (             'Oxford High St', ...),
            ( 'Oxford St Ebbes (Cal Club)', ...),
            (     'Reading Caversham Road', ...),
            (     'Reading Caversham Road', ...),
            (         'Reading Kings Road', ...),
            (         'Reading Kings Road', ...),
            (        'Reading Oxford Road', ...),
            (        'Reading Oxford Road', ...),
            (                'Scrubs Lane', ...),
            (                'Scrubs Lane', ...),
            (                       'Time', ...),
            (           'Watford Roadside', ...),
            (           'Watford Roadside', ...),
            (           'Watford Roadside', ...),
            (          'Watford Town Hall', ...),
            (          'Watford Town Hall', ...),
            (          'Watford Town Hall', ...)],
           )

In [9]:
df = frame.replace('No data', np.nan)
df = df.replace('No Data', np.nan)
df.head()

          Broadway                                                            \
  Nitrogen dioxide PM10 particulate matter (Hourly measured) Sulphur dioxide
0              NaN                                       NaN             NaN
1              NaN                                       NaN             NaN
2              NaN                                       NaN             NaN
3              NaN                                       NaN             NaN
4              NaN                                       NaN             NaN

       Brook Green                                            \
  Nitrogen dioxide PM10 particulate matter (Hourly measured)
0              NaN                                       NaN
1              NaN                                       NaN
2              NaN                                       NaN
3              NaN                                       NaN
4              NaN                                       NaN

                  Date H&F Hammersmith Town Centre        \
    Unnamed: 0_level_1            Nitrogen dioxide Ozone
0  2004-01-01 00:00:00                         NaN   NaN
1  2004-01-01 00:00:00                         NaN   NaN
2  2004-01-01 00:00:00                         NaN   NaN
3  2004-01-01 00:00:00                         NaN   NaN
4  2004-01-01 00:00:00                         NaN   NaN

                                             \
  PM10 particulate matter (Hourly measured)
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

                                              ...  \
  PM2.5 particulate matter (Hourly measured)  ...
0                                        NaN  ...
1                                        NaN  ...
2                                        NaN  ...
3                                        NaN  ...
4                                        NaN  ...

                        Reading Oxford Road      Scrubs Lane  \
  PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                       NaN              NaN
1                                       NaN              NaN
2                                       NaN              NaN
3                                       NaN              NaN
4                                       NaN              NaN

                                                          Time  \
  PM10 particulate matter (Hourly measured) Unnamed: 1_level_1
0                                       NaN           01:00:00
1                                       NaN           02:00:00
2                                       NaN           03:00:00
3                                       NaN           04:00:00
4                                       NaN           05:00:00

  Watford Roadside                        Watford Town Hall  \
   Carbon monoxide Nitrogen dioxide Ozone  Nitrogen dioxide
0              NaN              NaN   NaN               NaN
1              NaN              NaN   NaN               NaN
2              NaN              NaN   NaN               NaN
3              NaN              NaN   NaN               NaN
4              NaN              NaN   NaN               NaN

                                             \
  PM10 particulate matter (Hourly measured)
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN


  PM2.5 particulate matter (Hourly measured)
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN

[5 rows x 30 columns]

In [10]:
#df.reset_index()
#df.set_index(['Date', 'Time'], inplace=True)
df

               Broadway                                            \
       Nitrogen dioxide PM10 particulate matter (Hourly measured)
0                   NaN                                       NaN
1                   NaN                                       NaN
2                   NaN                                       NaN
3                   NaN                                       NaN
4                   NaN                                       NaN
...                 ...                                       ...
148317              NaN                                       NaN
148318              NaN                                       NaN
148319              NaN                                       NaN
148320              NaN                                       NaN
148321              NaN                                       NaN

                            Brook Green  \
       Sulphur dioxide Nitrogen dioxide
0                  NaN              NaN
1                  NaN              NaN
2                  NaN              NaN
3                  NaN              NaN
4                  NaN              NaN
...                ...              ...
148317             NaN              NaN
148318             NaN              NaN
148319             NaN              NaN
148320             NaN              NaN
148321             NaN              NaN

                                                                 Date  \
       PM10 particulate matter (Hourly measured)   Unnamed: 0_level_1
0                                            NaN  2004-01-01 00:00:00
1                                            NaN  2004-01-01 00:00:00
2                                            NaN  2004-01-01 00:00:00
3                                            NaN  2004-01-01 00:00:00
4                                            NaN  2004-01-01 00:00:00
...                                          ...                  ...
148317                                       NaN  2020-12-01 00:00:00
148318                                       NaN  2020-12-01 00:00:00
148319                                       NaN  2020-12-01 00:00:00
148320                                       NaN                  NaN
148321                                       NaN                  End

       H&F Hammersmith Town Centre        \
                  Nitrogen dioxide Ozone
0                              NaN   NaN
1                              NaN   NaN
2                              NaN   NaN
3                              NaN   NaN
4                              NaN   NaN
...                            ...   ...
148317                         NaN   NaN
148318                         NaN   NaN
148319                         NaN   NaN
148320                         NaN   NaN
148321                         NaN   NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
148317                                       NaN
148318                                       NaN
148319                                       NaN
148320                                       NaN
148321                                       NaN

                                                   ...  \
       PM2.5 particulate matter (Hourly measured)  ...
0                                             NaN  ...
1                                             NaN  ...
2                                             NaN  ...
3                                             NaN  ...
4                                             NaN  ...
...                                           ...  ...
148317                                        NaN  ...
148318                                        NaN  ...
148319                                        NaN  ...
148320                                        NaN  ...
148321                                        NaN  ...

                             Reading Oxford Road      Scrubs Lane  \
       PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                            NaN              NaN
1                                            NaN              NaN
2                                            NaN              NaN
3                                            NaN              NaN
4                                            NaN              NaN
...                                          ...              ...
148317                                       NaN              NaN
148318                                       NaN              NaN
148319                                       NaN              NaN
148320                                       NaN              NaN
148321                                       NaN              NaN

                                                                 Time  \
       PM10 particulate matter (Hourly measured)   Unnamed: 1_level_1
0                                            NaN             01:00:00
1                                            NaN             02:00:00
2                                            NaN             03:00:00
3                                            NaN             04:00:00
4                                            NaN             05:00:00
...                                          ...                  ...
148317                                       NaN             22:00:00
148318                                       NaN             23:00:00
148319                                       NaN  1900-01-01 00:00:00
148320                                       NaN                  NaN
148321                                       NaN                  NaN

       Watford Roadside                        Watford Town Hall  \
        Carbon monoxide Nitrogen dioxide Ozone  Nitrogen dioxide
0                   NaN              NaN   NaN               NaN
1                   NaN              NaN   NaN               NaN
2                   NaN              NaN   NaN               NaN
3                   NaN              NaN   NaN               NaN
4                   NaN              NaN   NaN               NaN
...                 ...              ...   ...               ...
148317              NaN              NaN   NaN               NaN
148318              NaN              NaN   NaN               NaN
148319              NaN              NaN   NaN               NaN
148320              NaN              NaN   NaN               NaN
148321              NaN              NaN   NaN               NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
148317                                      15.8
148318                                      16.9
148319                                      14.5
148320                                       NaN
148321                                       NaN


       PM2.5 particulate matter (Hourly measured)
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
148317                                       10.9
148318                                       12.0
148319                                       10.5
148320                                        NaN
148321                                        NaN

[567944 rows x 30 columns]

## Step 4: Identify closed monitoring stations

In [11]:
df.dropna(axis=1, how='all')
df

               Broadway                                            \
       Nitrogen dioxide PM10 particulate matter (Hourly measured)
0                   NaN                                       NaN
1                   NaN                                       NaN
2                   NaN                                       NaN
3                   NaN                                       NaN
4                   NaN                                       NaN
...                 ...                                       ...
148317              NaN                                       NaN
148318              NaN                                       NaN
148319              NaN                                       NaN
148320              NaN                                       NaN
148321              NaN                                       NaN

                            Brook Green  \
       Sulphur dioxide Nitrogen dioxide
0                  NaN              NaN
1                  NaN              NaN
2                  NaN              NaN
3                  NaN              NaN
4                  NaN              NaN
...                ...              ...
148317             NaN              NaN
148318             NaN              NaN
148319             NaN              NaN
148320             NaN              NaN
148321             NaN              NaN

                                                                 Date  \
       PM10 particulate matter (Hourly measured)   Unnamed: 0_level_1
0                                            NaN  2004-01-01 00:00:00
1                                            NaN  2004-01-01 00:00:00
2                                            NaN  2004-01-01 00:00:00
3                                            NaN  2004-01-01 00:00:00
4                                            NaN  2004-01-01 00:00:00
...                                          ...                  ...
148317                                       NaN  2020-12-01 00:00:00
148318                                       NaN  2020-12-01 00:00:00
148319                                       NaN  2020-12-01 00:00:00
148320                                       NaN                  NaN
148321                                       NaN                  End

       H&F Hammersmith Town Centre        \
                  Nitrogen dioxide Ozone
0                              NaN   NaN
1                              NaN   NaN
2                              NaN   NaN
3                              NaN   NaN
4                              NaN   NaN
...                            ...   ...
148317                         NaN   NaN
148318                         NaN   NaN
148319                         NaN   NaN
148320                         NaN   NaN
148321                         NaN   NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
148317                                       NaN
148318                                       NaN
148319                                       NaN
148320                                       NaN
148321                                       NaN

                                                   ...  \
       PM2.5 particulate matter (Hourly measured)  ...
0                                             NaN  ...
1                                             NaN  ...
2                                             NaN  ...
3                                             NaN  ...
4                                             NaN  ...
...                                           ...  ...
148317                                        NaN  ...
148318                                        NaN  ...
148319                                        NaN  ...
148320                                        NaN  ...
148321                                        NaN  ...

                             Reading Oxford Road      Scrubs Lane  \
       PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                            NaN              NaN
1                                            NaN              NaN
2                                            NaN              NaN
3                                            NaN              NaN
4                                            NaN              NaN
...                                          ...              ...
148317                                       NaN              NaN
148318                                       NaN              NaN
148319                                       NaN              NaN
148320                                       NaN              NaN
148321                                       NaN              NaN

                                                                 Time  \
       PM10 particulate matter (Hourly measured)   Unnamed: 1_level_1
0                                            NaN             01:00:00
1                                            NaN             02:00:00
2                                            NaN             03:00:00
3                                            NaN             04:00:00
4                                            NaN             05:00:00
...                                          ...                  ...
148317                                       NaN             22:00:00
148318                                       NaN             23:00:00
148319                                       NaN  1900-01-01 00:00:00
148320                                       NaN                  NaN
148321                                       NaN                  NaN

       Watford Roadside                        Watford Town Hall  \
        Carbon monoxide Nitrogen dioxide Ozone  Nitrogen dioxide
0                   NaN              NaN   NaN               NaN
1                   NaN              NaN   NaN               NaN
2                   NaN              NaN   NaN               NaN
3                   NaN              NaN   NaN               NaN
4                   NaN              NaN   NaN               NaN
...                 ...              ...   ...               ...
148317              NaN              NaN   NaN               NaN
148318              NaN              NaN   NaN               NaN
148319              NaN              NaN   NaN               NaN
148320              NaN              NaN   NaN               NaN
148321              NaN              NaN   NaN               NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
148317                                      15.8
148318                                      16.9
148319                                      14.5
148320                                       NaN
148321                                       NaN


       PM2.5 particulate matter (Hourly measured)
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
148317                                       10.9
148318                                       12.0
148319                                       10.5
148320                                        NaN
148321                                        NaN

[567944 rows x 30 columns]

In [12]:
non_null_columns = [col for col in df.columns if df.loc[:, col].notna().any()]
open_monitoring_sites = df[non_null_columns]
open_monitoring_sites

               Broadway                                            \
       Nitrogen dioxide PM10 particulate matter (Hourly measured)
0                   NaN                                       NaN
1                   NaN                                       NaN
2                   NaN                                       NaN
3                   NaN                                       NaN
4                   NaN                                       NaN
...                 ...                                       ...
148317              NaN                                       NaN
148318              NaN                                       NaN
148319              NaN                                       NaN
148320              NaN                                       NaN
148321              NaN                                       NaN

                            Brook Green  \
       Sulphur dioxide Nitrogen dioxide
0                  NaN              NaN
1                  NaN              NaN
2                  NaN              NaN
3                  NaN              NaN
4                  NaN              NaN
...                ...              ...
148317             NaN              NaN
148318             NaN              NaN
148319             NaN              NaN
148320             NaN              NaN
148321             NaN              NaN

                                                                 Date  \
       PM10 particulate matter (Hourly measured)   Unnamed: 0_level_1
0                                            NaN  2004-01-01 00:00:00
1                                            NaN  2004-01-01 00:00:00
2                                            NaN  2004-01-01 00:00:00
3                                            NaN  2004-01-01 00:00:00
4                                            NaN  2004-01-01 00:00:00
...                                          ...                  ...
148317                                       NaN  2020-12-01 00:00:00
148318                                       NaN  2020-12-01 00:00:00
148319                                       NaN  2020-12-01 00:00:00
148320                                       NaN                  NaN
148321                                       NaN                  End

       H&F Hammersmith Town Centre        \
                  Nitrogen dioxide Ozone
0                              NaN   NaN
1                              NaN   NaN
2                              NaN   NaN
3                              NaN   NaN
4                              NaN   NaN
...                            ...   ...
148317                         NaN   NaN
148318                         NaN   NaN
148319                         NaN   NaN
148320                         NaN   NaN
148321                         NaN   NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
148317                                       NaN
148318                                       NaN
148319                                       NaN
148320                                       NaN
148321                                       NaN

                                                   ... Reading Oxford Road  \
       PM2.5 particulate matter (Hourly measured)  ...    Nitrogen dioxide
0                                             NaN  ...                 NaN
1                                             NaN  ...                 NaN
2                                             NaN  ...                 NaN
3                                             NaN  ...                 NaN
4                                             NaN  ...                 NaN
...                                           ...  ...                 ...
148317                                        NaN  ...                 NaN
148318                                        NaN  ...                 NaN
148319                                        NaN  ...                 NaN
148320                                        NaN  ...                 NaN
148321                                        NaN  ...                 NaN

                                                      Scrubs Lane  \
       PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                            NaN              NaN
1                                            NaN              NaN
2                                            NaN              NaN
3                                            NaN              NaN
4                                            NaN              NaN
...                                          ...              ...
148317                                       NaN              NaN
148318                                       NaN              NaN
148319                                       NaN              NaN
148320                                       NaN              NaN
148321                                       NaN              NaN

                                                                 Time  \
       PM10 particulate matter (Hourly measured)   Unnamed: 1_level_1
0                                            NaN             01:00:00
1                                            NaN             02:00:00
2                                            NaN             03:00:00
3                                            NaN             04:00:00
4                                            NaN             05:00:00
...                                          ...                  ...
148317                                       NaN             22:00:00
148318                                       NaN             23:00:00
148319                                       NaN  1900-01-01 00:00:00
148320                                       NaN                  NaN
148321                                       NaN                  NaN

       Watford Roadside       Watford Town Hall  \
       Nitrogen dioxide Ozone  Nitrogen dioxide
0                   NaN   NaN               NaN
1                   NaN   NaN               NaN
2                   NaN   NaN               NaN
3                   NaN   NaN               NaN
4                   NaN   NaN               NaN
...                 ...   ...               ...
148317              NaN   NaN               NaN
148318              NaN   NaN               NaN
148319              NaN   NaN               NaN
148320              NaN   NaN               NaN
148321              NaN   NaN               NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
148317                                      15.8
148318                                      16.9
148319                                      14.5
148320                                       NaN
148321                                       NaN


       PM2.5 particulate matter (Hourly measured)
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
148317                                       10.9
148318                                       12.0
148319                                       10.5
148320                                        NaN
148321                                        NaN

[567944 rows x 29 columns]

## Step 5: Setting Date and Time columns to Datetime

In [13]:
# open_monitoring_sites[("Time", "Unnamed: 0_level_1")] = [str(x)[-8:] for x in open_monitoring_sites[("Time", "Unnamed: 0_level_1")]]

In [14]:
open_monitoring_sites.columns.get_level_values(0)

Index(['Broadway', 'Broadway', 'Broadway', 'Brook Green', 'Brook Green',
       'Date', 'H&F Hammersmith Town Centre', 'H&F Hammersmith Town Centre',
       'H&F Hammersmith Town Centre', 'H&F Hammersmith Town Centre',
       'H&F Shepherd's Bush', 'H&F Shepherd's Bush', 'Oxford High St',
       'Oxford High St', 'Oxford St Ebbes (Cal Club)',
       'Reading Caversham Road', 'Reading Caversham Road',
       'Reading Kings Road', 'Reading Kings Road', 'Reading Oxford Road',
       'Reading Oxford Road', 'Scrubs Lane', 'Scrubs Lane', 'Time',
       'Watford Roadside', 'Watford Roadside', 'Watford Town Hall',
       'Watford Town Hall', 'Watford Town Hall'],
      dtype='object')

In [15]:
open_monitoring_sites.columns.get_level_values(1).unique()

Index(['Nitrogen dioxide', 'PM10 particulate matter (Hourly measured)',
       'Sulphur dioxide', 'Unnamed: 0_level_1', 'Ozone',
       'PM2.5 particulate matter (Hourly measured)', 'Unnamed: 1_level_1'],
      dtype='object')

In [16]:
!pip install --upgrade pandas

Requirement already up-to-date: pandas in /opt/conda/lib/python3.6/site-packages (1.1.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /opt/conda/lib/python3.6/site-packages (from pandas) (2.7.5)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /opt/conda/lib/python3.6/site-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /opt/conda/lib/python3.6/site-packages (from pandas) (2018.7)
Requirement already satisfied, skipping upgrade: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)

In [17]:
pd.__version__

'1.1.5'

In [18]:
hourlyOuter = open_monitoring_sites.set_index([("Date", "Unnamed: 0_level_1"), ("Time", "Unnamed: 1_level_1")])
hourlyOuter

                                                              Broadway  \
                                                      Nitrogen dioxide
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                NaN
                           02:00:00                                NaN
                           03:00:00                                NaN
                           04:00:00                                NaN
                           05:00:00                                NaN
...                                                                ...
2020-12-01 00:00:00        22:00:00                                NaN
                           23:00:00                                NaN
                           1900-01-01 00:00:00                     NaN
NaN                        NaN                                     NaN
End                        NaN                                     NaN

                                                                                                 \
                                                      PM10 particulate matter (Hourly measured)
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                                         NaN
                           02:00:00                                                         NaN
                           03:00:00                                                         NaN
                           04:00:00                                                         NaN
                           05:00:00                                                         NaN
...                                                                                         ...
2020-12-01 00:00:00        22:00:00                                                         NaN
                           23:00:00                                                         NaN
                           1900-01-01 00:00:00                                              NaN
NaN                        NaN                                                              NaN
End                        NaN                                                              NaN

                                                                       \
                                                      Sulphur dioxide
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                               NaN
                           02:00:00                               NaN
                           03:00:00                               NaN
                           04:00:00                               NaN
                           05:00:00                               NaN
...                                                               ...
2020-12-01 00:00:00        22:00:00                               NaN
                           23:00:00                               NaN
                           1900-01-01 00:00:00                    NaN
NaN                        NaN                                    NaN
End                        NaN                                    NaN

                                                           Brook Green  \
                                                      Nitrogen dioxide
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                NaN
                           02:00:00                                NaN
                           03:00:00                                NaN
                           04:00:00                                NaN
                           05:00:00                                NaN
...                                                                ...
2020-12-01 00:00:00        22:00:00                                NaN
                           23:00:00                                NaN
                           1900-01-01 00:00:00                     NaN
NaN                        NaN                                     NaN
End                        NaN                                     NaN

                                                                                                 \
                                                      PM10 particulate matter (Hourly measured)
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                                         NaN
                           02:00:00                                                         NaN
                           03:00:00                                                         NaN
                           04:00:00                                                         NaN
                           05:00:00                                                         NaN
...                                                                                         ...
2020-12-01 00:00:00        22:00:00                                                         NaN
                           23:00:00                                                         NaN
                           1900-01-01 00:00:00                                              NaN
NaN                        NaN                                                              NaN
End                        NaN                                                              NaN

                                                      H&F Hammersmith Town Centre  \
                                                                 Nitrogen dioxide
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                           NaN
                           02:00:00                                           NaN
                           03:00:00                                           NaN
                           04:00:00                                           NaN
                           05:00:00                                           NaN
...                                                                           ...
2020-12-01 00:00:00        22:00:00                                           NaN
                           23:00:00                                           NaN
                           1900-01-01 00:00:00                                NaN
NaN                        NaN                                                NaN
End                        NaN                                                NaN

                                                             \
                                                      Ozone
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                     NaN
                           02:00:00                     NaN
                           03:00:00                     NaN
                           04:00:00                     NaN
                           05:00:00                     NaN
...                                                     ...
2020-12-01 00:00:00        22:00:00                     NaN
                           23:00:00                     NaN
                           1900-01-01 00:00:00          NaN
NaN                        NaN                          NaN
End                        NaN                          NaN

                                                                                                 \
                                                      PM10 particulate matter (Hourly measured)
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                                         NaN
                           02:00:00                                                         NaN
                           03:00:00                                                         NaN
                           04:00:00                                                         NaN
                           05:00:00                                                         NaN
...                                                                                         ...
2020-12-01 00:00:00        22:00:00                                                         NaN
                           23:00:00                                                         NaN
                           1900-01-01 00:00:00                                              NaN
NaN                        NaN                                                              NaN
End                        NaN                                                              NaN

                                                                                                  \
                                                      PM2.5 particulate matter (Hourly measured)
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                                          NaN
                           02:00:00                                                          NaN
                           03:00:00                                                          NaN
                           04:00:00                                                          NaN
                           05:00:00                                                          NaN
...                                                                                          ...
2020-12-01 00:00:00        22:00:00                                                          NaN
                           23:00:00                                                          NaN
                           1900-01-01 00:00:00                                               NaN
NaN                        NaN                                                               NaN
End                        NaN                                                               NaN

                                                      H&F Shepherd's Bush  \
                                                         Nitrogen dioxide
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                   NaN
                           02:00:00                                   NaN
                           03:00:00                                   NaN
                           04:00:00                                   NaN
                           05:00:00                                   NaN
...                                                                   ...
2020-12-01 00:00:00        22:00:00                                   NaN
                           23:00:00                                   NaN
                           1900-01-01 00:00:00                        NaN
NaN                        NaN                                        NaN
End                        NaN                                        NaN

                                                       ...  \
                                                       ...
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)  ...
2004-01-01 00:00:00        01:00:00                    ...
                           02:00:00                    ...
                           03:00:00                    ...
                           04:00:00                    ...
                           05:00:00                    ...
...                                                    ...
2020-12-01 00:00:00        22:00:00                    ...
                           23:00:00                    ...
                           1900-01-01 00:00:00         ...
NaN                        NaN                         ...
End                        NaN                         ...

                                                                             Reading Kings Road  \
                                                      PM10 particulate matter (Hourly measured)
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                                         NaN
                           02:00:00                                                         NaN
                           03:00:00                                                         NaN
                           04:00:00                                                         NaN
                           05:00:00                                                         NaN
...                                                                                         ...
2020-12-01 00:00:00        22:00:00                                                         NaN
                           23:00:00                                                         NaN
                           1900-01-01 00:00:00                                              NaN
NaN                        NaN                                                              NaN
End                        NaN                                                              NaN

                                                      Reading Oxford Road  \
                                                         Nitrogen dioxide
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                   NaN
                           02:00:00                                   NaN
                           03:00:00                                   NaN
                           04:00:00                                   NaN
                           05:00:00                                   NaN
...                                                                   ...
2020-12-01 00:00:00        22:00:00                                   NaN
                           23:00:00                                   NaN
                           1900-01-01 00:00:00                        NaN
NaN                        NaN                                        NaN
End                        NaN                                        NaN

                                                                                                 \
                                                      PM10 particulate matter (Hourly measured)
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                                         NaN
                           02:00:00                                                         NaN
                           03:00:00                                                         NaN
                           04:00:00                                                         NaN
                           05:00:00                                                         NaN
...                                                                                         ...
2020-12-01 00:00:00        22:00:00                                                         NaN
                           23:00:00                                                         NaN
                           1900-01-01 00:00:00                                              NaN
NaN                        NaN                                                              NaN
End                        NaN                                                              NaN

                                                           Scrubs Lane  \
                                                      Nitrogen dioxide
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                NaN
                           02:00:00                                NaN
                           03:00:00                                NaN
                           04:00:00                                NaN
                           05:00:00                                NaN
...                                                                ...
2020-12-01 00:00:00        22:00:00                                NaN
                           23:00:00                                NaN
                           1900-01-01 00:00:00                     NaN
NaN                        NaN                                     NaN
End                        NaN                                     NaN

                                                                                                 \
                                                      PM10 particulate matter (Hourly measured)
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                                         NaN
                           02:00:00                                                         NaN
                           03:00:00                                                         NaN
                           04:00:00                                                         NaN
                           05:00:00                                                         NaN
...                                                                                         ...
2020-12-01 00:00:00        22:00:00                                                         NaN
                           23:00:00                                                         NaN
                           1900-01-01 00:00:00                                              NaN
NaN                        NaN                                                              NaN
End                        NaN                                                              NaN

                                                      Watford Roadside        \
                                                      Nitrogen dioxide Ozone
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                NaN   NaN
                           02:00:00                                NaN   NaN
                           03:00:00                                NaN   NaN
                           04:00:00                                NaN   NaN
                           05:00:00                                NaN   NaN
...                                                                ...   ...
2020-12-01 00:00:00        22:00:00                                NaN   NaN
                           23:00:00                                NaN   NaN
                           1900-01-01 00:00:00                     NaN   NaN
NaN                        NaN                                     NaN   NaN
End                        NaN                                     NaN   NaN

                                                      Watford Town Hall  \
                                                       Nitrogen dioxide
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-01 00:00:00        01:00:00                                 NaN
                           02:00:00                                 NaN
                           03:00:00                                 NaN
                           04:00:00                                 NaN
                           05:00:00                                 NaN
...                                                                 ...
2020-12-01 00:00:00        22:00:00                                 NaN
                           23:00:00                                 NaN
                           1900-01-01 00:00:00                      NaN
NaN                        NaN                                      NaN
End                        NaN                                      NaN


In [20]:
hourlyOuter = hourlyOuter.stack(0, dropna=True)
hourlyOuter

                                                                         Nitrogen dioxide  \
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-05                 13:00:00                   Brook Green                58.33125
                           14:00:00                   Brook Green                56.80125
                           15:00:00                   Brook Green                64.45125
                           16:00:00                   Brook Green                66.93750
                           17:00:00                   Brook Green                67.32000
...                                                                                   ...
2020-12-01                 20:00:00                   Watford Town Hall               NaN
                           21:00:00                   Watford Town Hall               NaN
                           22:00:00                   Watford Town Hall               NaN
                           23:00:00                   Watford Town Hall               NaN
                           1900-01-01 00:00:00        Watford Town Hall               NaN

                                                                         Ozone  \
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-05                 13:00:00                   Brook Green          NaN
                           14:00:00                   Brook Green          NaN
                           15:00:00                   Brook Green          NaN
                           16:00:00                   Brook Green          NaN
                           17:00:00                   Brook Green          NaN
...                                                                        ...
2020-12-01                 20:00:00                   Watford Town Hall    NaN
                           21:00:00                   Watford Town Hall    NaN
                           22:00:00                   Watford Town Hall    NaN
                           23:00:00                   Watford Town Hall    NaN
                           1900-01-01 00:00:00        Watford Town Hall    NaN

                                                                         PM10 particulate matter (Hourly measured)  \
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-05                 13:00:00                   Brook Green                                             32.1
                           14:00:00                   Brook Green                                             17.5
                           15:00:00                   Brook Green                                             18.4
                           16:00:00                   Brook Green                                             24.8
                           17:00:00                   Brook Green                                             19.1
...                                                                                                            ...
2020-12-01                 20:00:00                   Watford Town Hall                                       17.8
                           21:00:00                   Watford Town Hall                                       17.3
                           22:00:00                   Watford Town Hall                                       15.8
                           23:00:00                   Watford Town Hall                                       16.9
                           1900-01-01 00:00:00        Watford Town Hall                                       14.5

                                                                         PM2.5 particulate matter (Hourly measured)  \
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-05                 13:00:00                   Brook Green                                               NaN
                           14:00:00                   Brook Green                                               NaN
                           15:00:00                   Brook Green                                               NaN
                           16:00:00                   Brook Green                                               NaN
                           17:00:00                   Brook Green                                               NaN
...                                                                                                             ...
2020-12-01                 20:00:00                   Watford Town Hall                                        10.9
                           21:00:00                   Watford Town Hall                                        10.7
                           22:00:00                   Watford Town Hall                                        10.9
                           23:00:00                   Watford Town Hall                                        12.0
                           1900-01-01 00:00:00        Watford Town Hall                                        10.5

                                                                         Sulphur dioxide
(Date, Unnamed: 0_level_1) (Time, Unnamed: 1_level_1)
2004-01-05                 13:00:00                   Brook Green                    NaN
                           14:00:00                   Brook Green                    NaN
                           15:00:00                   Brook Green                    NaN
                           16:00:00                   Brook Green                    NaN
                           17:00:00                   Brook Green                    NaN
...                                                                                  ...
2020-12-01                 20:00:00                   Watford Town Hall              NaN
                           21:00:00                   Watford Town Hall              NaN
                           22:00:00                   Watford Town Hall              NaN
                           23:00:00                   Watford Town Hall              NaN
                           1900-01-01 00:00:00        Watford Town Hall              NaN

[921983 rows x 5 columns]

In [21]:
hourlyOuter = hourlyOuter.rename_axis(('Date', 'Time', 'Location'))
hourlyOuter

                                                  Nitrogen dioxide  Ozone  \
Date       Time                Location
2004-01-05 13:00:00            Brook Green                58.33125    NaN
           14:00:00            Brook Green                56.80125    NaN
           15:00:00            Brook Green                64.45125    NaN
           16:00:00            Brook Green                66.93750    NaN
           17:00:00            Brook Green                67.32000    NaN
...                                                            ...    ...
2020-12-01 20:00:00            Watford Town Hall               NaN    NaN
           21:00:00            Watford Town Hall               NaN    NaN
           22:00:00            Watford Town Hall               NaN    NaN
           23:00:00            Watford Town Hall               NaN    NaN
           1900-01-01 00:00:00 Watford Town Hall               NaN    NaN

                                                  PM10 particulate matter (Hourly measured)  \
Date       Time                Location
2004-01-05 13:00:00            Brook Green                                             32.1
           14:00:00            Brook Green                                             17.5
           15:00:00            Brook Green                                             18.4
           16:00:00            Brook Green                                             24.8
           17:00:00            Brook Green                                             19.1
...                                                                                     ...
2020-12-01 20:00:00            Watford Town Hall                                       17.8
           21:00:00            Watford Town Hall                                       17.3
           22:00:00            Watford Town Hall                                       15.8
           23:00:00            Watford Town Hall                                       16.9
           1900-01-01 00:00:00 Watford Town Hall                                       14.5

                                                  PM2.5 particulate matter (Hourly measured)  \
Date       Time                Location
2004-01-05 13:00:00            Brook Green                                               NaN
           14:00:00            Brook Green                                               NaN
           15:00:00            Brook Green                                               NaN
           16:00:00            Brook Green                                               NaN
           17:00:00            Brook Green                                               NaN
...                                                                                      ...
2020-12-01 20:00:00            Watford Town Hall                                        10.9
           21:00:00            Watford Town Hall                                        10.7
           22:00:00            Watford Town Hall                                        10.9
           23:00:00            Watford Town Hall                                        12.0
           1900-01-01 00:00:00 Watford Town Hall                                        10.5

                                                  Sulphur dioxide
Date       Time                Location
2004-01-05 13:00:00            Brook Green                    NaN
           14:00:00            Brook Green                    NaN
           15:00:00            Brook Green                    NaN
           16:00:00            Brook Green                    NaN
           17:00:00            Brook Green                    NaN
...                                                           ...
2020-12-01 20:00:00            Watford Town Hall              NaN
           21:00:00            Watford Town Hall              NaN
           22:00:00            Watford Town Hall              NaN
           23:00:00            Watford Town Hall              NaN
           1900-01-01 00:00:00 Watford Town Hall              NaN

[921983 rows x 5 columns]

In [26]:
hourlyOuter = hourlyOuter.reset_index()
hourlyOuter

,Date,Time,Location,Nitrogen dioxide,Ozone,PM10 particulate matter (Hourly measured),PM2.5 particulate matter (Hourly measured),Sulphur dioxide
0,2004-01-05,13:00:00,Brook Green,58.33125,NaN,32.1,NaN,NaN
1,2004-01-05,14:00:00,Brook Green,56.80125,NaN,17.5,NaN,NaN
2,2004-01-05,15:00:00,Brook Green,64.45125,NaN,18.4,NaN,NaN
3,2004-01-05,16:00:00,Brook Green,66.93750,NaN,24.8,NaN,NaN
4,2004-01-05,17:00:00,Brook Green,67.32000,NaN,19.1,NaN,NaN
...,...,...,...,...,...,...,...,...
921978,2020-12-01,20:00:00,Watford Town Hall,NaN,NaN,17.8,10.9,NaN
921979,2020-12-01,21:00:00,Watford Town Hall,NaN,NaN,17.3,10.7,NaN
921980,2020-12-01,22:00:00,Watford Town Hall,NaN,NaN,15.8,10.9,NaN
921981,2020-12-01,23:00:00,Watford Town Hall,NaN,NaN,16.9,12.0,NaN
921982,2020-12-01,1900-01-01 00:00:00,Watford Town Hall,NaN,NaN,14.5,10.5,NaN

In [28]:
hourlyOuter["Date"] = [str(x)[0:10] for x in hourlyOuter["Date"]]
hourlyOuter["Time"] = [str(x)[-8:] for x in hourlyOuter["Time"]]
hourlyOuter

,Date,Time,Location,Nitrogen dioxide,Ozone,PM10 particulate matter (Hourly measured),PM2.5 particulate matter (Hourly measured),Sulphur dioxide
0,2004-01-05,13:00:00,Brook Green,58.33125,NaN,32.1,NaN,NaN
1,2004-01-05,14:00:00,Brook Green,56.80125,NaN,17.5,NaN,NaN
2,2004-01-05,15:00:00,Brook Green,64.45125,NaN,18.4,NaN,NaN
3,2004-01-05,16:00:00,Brook Green,66.93750,NaN,24.8,NaN,NaN
4,2004-01-05,17:00:00,Brook Green,67.32000,NaN,19.1,NaN,NaN
...,...,...,...,...,...,...,...,...
921978,2020-12-01,20:00:00,Watford Town Hall,NaN,NaN,17.8,10.9,NaN
921979,2020-12-01,21:00:00,Watford Town Hall,NaN,NaN,17.3,10.7,NaN
921980,2020-12-01,22:00:00,Watford Town Hall,NaN,NaN,15.8,10.9,NaN
921981,2020-12-01,23:00:00,Watford Town Hall,NaN,NaN,16.9,12.0,NaN
921982,2020-12-01,00:00:00,Watford Town Hall,NaN,NaN,14.5,10.5,NaN

In [29]:
hourlyOuter.to_csv("hourlyOuter.csv")

In [ ]:
#open_monitoring_sites[("index", "")] = [str(x)[0:10] for x in open_monitoring_sites[("index", "")]]
open_monitoring_sites.info()

In [ ]:
#open_monitoring_sites = open_monitoring_sites.set_index("index")
open_monitoring_sites.drop(columns=["Time"], axis = 1, inplace = True)
open_monitoring_sites.dropna(how='all', inplace = True)
pd.set_option('display.max_columns', None)
open_monitoring_sites.index = pd.to_datetime(open_monitoring_sites.index)
open_monitoring_sites.info()

convert to datetime

In [ ]:
#open_monitoring_sites = open_monitoring_sites.reset_index()
#open_monitoring_sites['index'] = pd.to_datetime(open_monitoring_sites['index'], format='%Y-%m-%d',utc=True)
#open_monitoring_sites[("index", "")] = [str(x)[0:10] for x in open_monitoring_sites[("index", "")]]
#open_monitoring_sites = open_monitoring_sites.set_index("index")
open_monitoring_sites

aggregate to daily

In [ ]:
import datetime
dailyOuter = open_monitoring_sites.resample('D').mean()
#open_monitoring_sites.groupby(pd.Grouper(freq='1D', level=0)).mean()
dailyOuter

In [ ]:
monthlyOuter = dailyOuter.resample('M').mean()
monthlyOuter

In [ ]:
yearlyOuter = monthlyOuter.resample('Y').mean()
yearlyOuter

## Step 6: Removing Multi-tier Columns

In [ ]:
dailyOuterStacked = dailyOuter.stack(0, dropna=True).rename_axis(('Date', 'Location'))

In [ ]:
monthlyOuterStacked = monthlyOuter.stack(0, dropna=True).rename_axis(('Date','Location'))

In [ ]:
yearlyOuterStacked = yearlyOuter.stack(0, dropna=True).rename_axis(('Date','Location'))

## Dictionary to CCG

In [ ]:
dailyOuterStacked.index.get_level_values(1).unique()

In [ ]:
def toCCG(x):
    if x == 'Oxford High St' or x == 'Oxford St Ebbes (Cal Club)':
        return "Oxford"
    elif x == 'Watford Roadside' or x == 'Watford Town Hall':
        return "Watford"
    elif x == 'Brook Green' or x == 'Broadway' or x== "H&F Shepherd's Bush" or x== 'H&F Hammersmith Town Centre' or x=='Scrubs Lane':
        return "Hammersmith and Fulham"
    elif x == 'Reading Caversham Road' or x== 'Reading Kings Road' or x=='Reading Oxford Road':
        return "Reading"
    else: return x

In [ ]:
dailyOuterStacked["CCG"] = [toCCG(x) for x in dailyOuterStacked.index.get_level_values(1)]
monthlyOuterStacked["CCG"] = [toCCG(x) for x in monthlyOuterStacked.index.get_level_values(1)]
yearlyOuterStacked["CCG"] = [toCCG(x) for x in yearlyOuterStacked.index.get_level_values(1)]

dailyOuterCCG is grouped by CCG

In [ ]:
dailyOuterCCG = dailyOuterStacked.groupby(["CCG"])#.resample('D').mean()
monthlyOuterCCG = monthlyOuterStacked.groupby(["CCG"])#.resample('M').mean()
yearlyOuterCCG = yearlyOuterStacked.groupby(["CCG"])#.resample('Y').mean()

In [ ]:
#dailyOuterCCG.set_index("CCG", append=True, inplace=True)
dailyOuterCCG.head()

trying to do daily, monthly, yearly by CCG

In [ ]:
dailyOuterCCGgrouped = dailyOuterStacked.pivot(columns="CCG")
dailyOuterCCGgrouped.head()

In [ ]:
dailyOuterCCGgrouped = dailyOuterCCGgrouped.reset_index().set_index("Date")
dailyOuterCCGgrouped.head()

In [ ]:
dailyOuterCCGgrouped = dailyOuterCCGgrouped.drop(columns = "Location").resample("D").mean()
dailyOuterCCGgrouped.head()

In [ ]:
dailyOuterCCGgrouped = dailyOuterCCGgrouped.stack(1, dropna=True).rename_axis(('Date', 'CCG'))
dailyOuterCCGgrouped.head()

monthly CCG

In [ ]:
monthlyOuterCCGgrouped = monthlyOuterStacked.pivot(columns="CCG")
monthlyOuterCCGgrouped

In [ ]:
monthlyOuterCCGgrouped = monthlyOuterCCGgrouped.reset_index().set_index("Date")
monthlyOuterCCGgrouped

In [ ]:
monthlyOuterCCGgrouped = monthlyOuterCCGgrouped.drop(columns = "Location").resample("M").mean()
monthlyOuterCCGgrouped

In [ ]:
monthlyOuterCCGgrouped = monthlyOuterCCGgrouped.stack(1, dropna=True).rename_axis(('Date', 'CCG'))
monthlyOuterCCGgrouped

yearly CCG

In [ ]:
yearlyOuterCCGgrouped = yearlyOuterStacked.pivot(columns="CCG")
yearlyOuterCCGgrouped = yearlyOuterCCGgrouped.reset_index().set_index("Date").drop(columns = "Location").resample("Y").mean().stack(1, dropna=True).rename_axis(('Date', 'CCG'))
yearlyOuterCCGgrouped.head()

format date index

In [ ]:
# monthlyOuterStacked.index = [str(x)[0:7] for x in monthlyOuterStacked.index]
# yearlyOuterStacked.index = [str(x)[0:4] for x in yearlyOuterStacked.index]

# monthlyOuterCCGgrouped.index = [str(x)[0:7] for x in monthlyOuterCCGgrouped.index]
# yearlyOuterCCGgrouped.index = [str(x)[0:4] for x in yearlyOuterCCGgrouped.index]

## Add coordinates

In [ ]:
yearlyOuterStacked.index.get_level_values(1).unique()

In [ ]:
def lat(i):
    if i == 'Broadway':
        return "51.492766"
    elif i == 'Brook Green':
        return "51.496496"
    elif i == 'Oxford High St':
        return "51.752527"
    elif i == 'Oxford St Ebbes (Cal Club)':
        return "51.744856"
    elif i == 'Watford Roadside':
        return "51.658889"
    elif i == 'Watford Town Hall':
        return "51.659200"
    elif i == 'Scrubs Lane':
        return "51.530890"
    elif i == 'Reading Caversham Road':
        return "51.464355"
    elif i == 'Reading Kings Road':
        return "51.453116"
    elif i == 'Reading Oxford Road':
        return "51.461957"
    elif i == "H&F Shepherd's Bush":
        return "51.504563"
    elif i == 'H&F Hammersmith Town Centre':
        return "51.492695"
    return "Other"

In [ ]:
def long(i):
    if i == 'Broadway':
        return "-0.223601"
    elif i == 'Brook Green':
        return "-0.220503"
    elif i == 'Oxford High St':
        return "-1.250939"
    elif i == 'Oxford St Ebbes (Cal Club)':
        return "-1.260338"
    elif i == 'Watford Roadside':
        return "-0.403333"
    elif i == 'Watford Town Hall':
        return "-0.402863"
    elif i == 'Scrubs Lane':
        return "-0.237011"
    elif i == 'Reading Caversham Road':
        return "-0.977094"
    elif i == 'Reading Kings Road':
        return "-0.949926"
    elif i == 'Reading Oxford Road':
        return "-1.012459"
    elif i == "H&F Shepherd's Bush":
        return "-0.224670"
    elif i == 'H&F Hammersmith Town Centre':
        return "-0.224787"
    return "Other"

In [ ]:
yearlyOuterStacked["Lat"] = [lat(i) for i in yearlyOuterStacked.index.get_level_values(1)]
yearlyOuterStacked["Long"] = [long(i) for i in yearlyOuterStacked.index.get_level_values(1)]

In [ ]:
yearlyOuterStacked

save files

In [ ]:
dailyOuterStacked.to_csv("dailyOuterStacked.csv")
monthlyOuterStacked.to_csv("monthlyOuterStacked.csv")
yearlyOuterStacked.to_csv("yearlyOuterStacked.csv")

dailyOuterCCGgrouped.to_csv("dailyOuterCCGgrouped.csv")
monthlyOuterCCGgrouped.to_csv("monthlyOuterCCGgrouped.csv")
yearlyOuterCCGgrouped.to_csv("yearlyOuterCCGgrouped.csv")

# # Graphs

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
% matplotlib inline

In [ ]:
for l in yearlyOuterStacked.index.get_level_values(1).unique():
    plt.figure(figsize=(10, 6))
    sns.lineplot(y = 'Indicator Value (R µg/m3)' ,
                 x ='Date',
                 hue = 'Pollutant',
                 data = yearlyOuterStacked).set_title(l)
    plt.xticks(rotation=90)
    plt.show()

In [ ]:
#sns.lineplot(data=df, x='x', y='y', hue='color')