# Cleaning methodology for pollutant data

This notebook contains the key steps taken to gather and clean air pollution data. As the data set is quite large and can only be downloaded in small chunks, we are currently investigation different ways of downloading the data in order to increase efficiency. As we continue to explore the data, more substantial filtering and cleaning will take place.

In [1]:
import pandas as pd
import numpy as np

## Step 1: Identify boundary for monitoring. 

Having manually sifted through the data, we were able to split several monitoring sites into "inner" and "outer" ranges based on their geographic location. The data points closest to our area of focus (Heathrow Airport) have been categorised as "inner" locations and will be vital in our investigation into emissions. The "outer" locations will be used as a way of comparisson to gain a deeper understanding of the scale of the impact arising from air pollution.

|CCG | Borough| Inner location - monitoring station| Outer location - monitoring site|
|---:|:-----|:-----------|:------------|
|Hillingdon |Hillingdon| Hillingdon South Ruislip, Hillingdon 2 Hillingdon Hospital, Hillingdon Oxford Avenue, Hillingdon Harmondsworth, Hillingdon Harmondsworth Osiris, Hillingdon Hayes, Heathrow LHR2, Heathrow Bath Road, Hillingdon Sipson, Heathrow Green Gates| |
|East Berkshire | Slough |Slough Town Centre Wellington Street,Slough Brands Hill London Road,Slough Windmill Bath Road,Slough Colnbrook,Slough Town Centre A4,Slough Lakeside 1 Osiris,Slough Colnbrook Osiris,Slough Chalvey,Slough Lakeside 2,Slough Lakeside 2 Osiris,Slough - Dennis Way LP11,Slough - Monksfield Way LP20,Slough - The Hawthorns LP2,Slough - Erica Close LP3,Slough - Hatton Avenue LP13,Slough - St Andrews Way LP12,Slough - The Hawthorns LP10,Slough - Francis Way LP13,Slough - The Hawthorns LP1,Slough - Monksfield Way LP19,Slough - Brighton Spur LP3,Slough - Bower Way LP1,Slough - Hatton Avenue LP3,Slough - Cinder Track LP37|
|Hounslow| Hounslow | Hounslow Cranford, Hounslow Chiswick, Hounslow Brentford, Hounslow Heston, Hounslow Hatton Cross, Hounslow Feltham, Hounslow Gunnersbury |
|Ealing | Ealing | Ealing Horn Lane
|Buckinghamshire|South Bucks|Iver Thorney Lane North, Iver North Park Road, Iver Primary School|
|Surrey Heartlands|Richmond|- |Elmbridge|
| - | Spelthorne | Spelthorne Shepperton Squire's Bridge Road, Spelthorne knowle Green, Spelthorne Sunbury Cross, Heathrow Oaks Road|
| - |Waverly and Woking | - | H&F Shepherd’s Bush, Godalming Ockford Road 2|
|South West London| Richmond | London Teddington Bushy Park. |
|Hammersmith & Fulham|London Borough of Hammersmith and Fulham|-| H&F Hammersmith Town Centre, H&F Shepherd’s Bush|
|Watford|Hertfordshire and Bedfordshire|-|Watford Town Hall|
|Oxfordshire|Oxfordshire|-|Oxford High St, Oxford St Ebbes (Cal Club), Oxford Center Roadside, Oxford St Ebbes|
| Berkshire West| Readiing| - | Reading Caversham Road, Reading Oxford Road, Reading London Road, Reading New Town|

## Step 2: Format the Data

In [2]:
boroughs = ['hammersmithAndFulham', 'oxford', 'reading', 'watford']

In [3]:
li = []

for borough in boroughs:
    print(borough)
    df = pd.read_excel('./raw_data/{}.xlsx'.format(borough), header=[0,1], sheet_name=None)
    df = pd.concat(df.values(), axis=0)
    df = pd.DataFrame(df, columns=df.keys())
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=False)

hammersmithAndFulham
oxford
reading
watford

In [4]:
# frame.to_excel("concatinated_pollution_data.xlsx")

In [5]:
# df = pd.read_excel('concatinated_pollution_data.xlsx', header=[0,1], sheet_name=None)
# df = pd.concat(df.values(), axis=0)
# df = pd.DataFrame(df, columns=df.keys())
# df.head()

In [6]:
# pd.set_option('display.max_columns', 100)

## Step 3: Unify missing data

In [7]:
#frame = frame.rename(columns={"index": "Date", "Unnamed: 0_level_1": "Hour"})
#frame = frame.set_index(["Date","Time"])
#frame = frame["Date"].dt.date
frame = frame.reset_index()
#frame = frame.rename(columns={"Date": "Index", "index": "Date", "Unnamed: 0_level_1": "Hour"})
frame

         index         Broadway                                            \
               Nitrogen dioxide PM10 particulate matter (Hourly measured)
0            0          No data                                   No data
1            1          No data                                   No data
2            2          No data                                   No data
3            3          No data                                   No data
4            4          No data                                   No data
...        ...              ...                                       ...
567939  148317              NaN                                       NaN
567940  148318              NaN                                       NaN
567941  148319              NaN                                       NaN
567942  148320              NaN                                       NaN
567943  148321              NaN                                       NaN

                            Brook Green  \
       Sulphur dioxide Nitrogen dioxide
0              No data          No data
1              No data          No data
2              No data          No data
3              No data          No data
4              No data          No data
...                ...              ...
567939             NaN              NaN
567940             NaN              NaN
567941             NaN              NaN
567942             NaN              NaN
567943             NaN              NaN

                                                                 Date  \
       PM10 particulate matter (Hourly measured)   Unnamed: 0_level_1
0                                        No data  2004-01-01 00:00:00
1                                        No data  2004-01-01 00:00:00
2                                        No data  2004-01-01 00:00:00
3                                        No data  2004-01-01 00:00:00
4                                        No data  2004-01-01 00:00:00
...                                          ...                  ...
567939                                       NaN  2020-12-01 00:00:00
567940                                       NaN  2020-12-01 00:00:00
567941                                       NaN  2020-12-01 00:00:00
567942                                       NaN                  NaN
567943                                       NaN                  End

       H&F Hammersmith Town Centre           \
                  Nitrogen dioxide    Ozone
0                          No data  No data
1                          No data  No data
2                          No data  No data
3                          No data  No data
4                          No data  No data
...                            ...      ...
567939                         NaN      NaN
567940                         NaN      NaN
567941                         NaN      NaN
567942                         NaN      NaN
567943                         NaN      NaN

                                                  ...  \
       PM10 particulate matter (Hourly measured)  ...
0                                        No data  ...
1                                        No data  ...
2                                        No data  ...
3                                        No data  ...
4                                        No data  ...
...                                          ...  ...
567939                                       NaN  ...
567940                                       NaN  ...
567941                                       NaN  ...
567942                                       NaN  ...
567943                                       NaN  ...

                             Reading Oxford Road      Scrubs Lane  \
       PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                            NaN          No data
1                                            NaN          No data
2                                            NaN          No data
3                                            NaN          No data
4                                            NaN          No data
...                                          ...              ...
567939                                       NaN              NaN
567940                                       NaN              NaN
567941                                       NaN              NaN
567942                                       NaN              NaN
567943                                       NaN              NaN

                                                                 Time  \
       PM10 particulate matter (Hourly measured)   Unnamed: 1_level_1
0                                        No data             01:00:00
1                                        No data             02:00:00
2                                        No data             03:00:00
3                                        No data             04:00:00
4                                        No data             05:00:00
...                                          ...                  ...
567939                                       NaN             22:00:00
567940                                       NaN             23:00:00
567941                                       NaN  1900-01-01 00:00:00
567942                                       NaN                  NaN
567943                                       NaN                  NaN

       Watford Roadside                           Watford Town Hall  \
        Carbon monoxide Nitrogen dioxide    Ozone  Nitrogen dioxide
0                   NaN              NaN      NaN               NaN
1                   NaN              NaN      NaN               NaN
2                   NaN              NaN      NaN               NaN
3                   NaN              NaN      NaN               NaN
4                   NaN              NaN      NaN               NaN
...                 ...              ...      ...               ...
567939          No data          No data  No data           No data
567940          No data          No data  No data           No data
567941          No data          No data  No data           No data
567942              NaN              NaN      NaN               NaN
567943              NaN              NaN      NaN               NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
567939                                      15.8
567940                                      16.9
567941                                      14.5
567942                                       NaN
567943                                       NaN


       PM2.5 particulate matter (Hourly measured)
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
567939                                       10.9
567940                                         12
567941                                       10.5
567942                                        NaN
567943                                        NaN

[567944 rows x 31 columns]

In [8]:
frame.columns

MultiIndex([(                      'index', ...),
            (                   'Broadway', ...),
            (                   'Broadway', ...),
            (                   'Broadway', ...),
            (                'Brook Green', ...),
            (                'Brook Green', ...),
            (                       'Date', ...),
            ('H&F Hammersmith Town Centre', ...),
            ('H&F Hammersmith Town Centre', ...),
            ('H&F Hammersmith Town Centre', ...),
            ('H&F Hammersmith Town Centre', ...),
            (        'H&F Shepherd's Bush', ...),
            (        'H&F Shepherd's Bush', ...),
            (             'Oxford High St', ...),
            (             'Oxford High St', ...),
            ( 'Oxford St Ebbes (Cal Club)', ...),
            (     'Reading Caversham Road', ...),
            (     'Reading Caversham Road', ...),
            (         'Reading Kings Road', ...),
            (         'Reading Kings Road', ...),
            (        'Reading Oxford Road', ...),
            (        'Reading Oxford Road', ...),
            (                'Scrubs Lane', ...),
            (                'Scrubs Lane', ...),
            (                       'Time', ...),
            (           'Watford Roadside', ...),
            (           'Watford Roadside', ...),
            (           'Watford Roadside', ...),
            (          'Watford Town Hall', ...),
            (          'Watford Town Hall', ...),
            (          'Watford Town Hall', ...)],
           )

In [9]:
df = frame.replace('No data', np.nan)
df = df.replace('No Data', np.nan)
df.head()

  index         Broadway                                            \
        Nitrogen dioxide PM10 particulate matter (Hourly measured)
0     0              NaN                                       NaN
1     1              NaN                                       NaN
2     2              NaN                                       NaN
3     3              NaN                                       NaN
4     4              NaN                                       NaN

                       Brook Green                                            \
  Sulphur dioxide Nitrogen dioxide PM10 particulate matter (Hourly measured)
0             NaN              NaN                                       NaN
1             NaN              NaN                                       NaN
2             NaN              NaN                                       NaN
3             NaN              NaN                                       NaN
4             NaN              NaN                                       NaN

                  Date H&F Hammersmith Town Centre        \
    Unnamed: 0_level_1            Nitrogen dioxide Ozone
0  2004-01-01 00:00:00                         NaN   NaN
1  2004-01-01 00:00:00                         NaN   NaN
2  2004-01-01 00:00:00                         NaN   NaN
3  2004-01-01 00:00:00                         NaN   NaN
4  2004-01-01 00:00:00                         NaN   NaN

                                             ...  \
  PM10 particulate matter (Hourly measured)  ...
0                                       NaN  ...
1                                       NaN  ...
2                                       NaN  ...
3                                       NaN  ...
4                                       NaN  ...

                        Reading Oxford Road      Scrubs Lane  \
  PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                       NaN              NaN
1                                       NaN              NaN
2                                       NaN              NaN
3                                       NaN              NaN
4                                       NaN              NaN

                                                          Time  \
  PM10 particulate matter (Hourly measured) Unnamed: 1_level_1
0                                       NaN           01:00:00
1                                       NaN           02:00:00
2                                       NaN           03:00:00
3                                       NaN           04:00:00
4                                       NaN           05:00:00

  Watford Roadside                        Watford Town Hall  \
   Carbon monoxide Nitrogen dioxide Ozone  Nitrogen dioxide
0              NaN              NaN   NaN               NaN
1              NaN              NaN   NaN               NaN
2              NaN              NaN   NaN               NaN
3              NaN              NaN   NaN               NaN
4              NaN              NaN   NaN               NaN

                                             \
  PM10 particulate matter (Hourly measured)
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN


  PM2.5 particulate matter (Hourly measured)
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN

[5 rows x 31 columns]

In [10]:
#df.reset_index()
#df.set_index(['Date', 'Time'], inplace=True)
df

         index         Broadway                                            \
               Nitrogen dioxide PM10 particulate matter (Hourly measured)
0            0              NaN                                       NaN
1            1              NaN                                       NaN
2            2              NaN                                       NaN
3            3              NaN                                       NaN
4            4              NaN                                       NaN
...        ...              ...                                       ...
567939  148317              NaN                                       NaN
567940  148318              NaN                                       NaN
567941  148319              NaN                                       NaN
567942  148320              NaN                                       NaN
567943  148321              NaN                                       NaN

                            Brook Green  \
       Sulphur dioxide Nitrogen dioxide
0                  NaN              NaN
1                  NaN              NaN
2                  NaN              NaN
3                  NaN              NaN
4                  NaN              NaN
...                ...              ...
567939             NaN              NaN
567940             NaN              NaN
567941             NaN              NaN
567942             NaN              NaN
567943             NaN              NaN

                                                                 Date  \
       PM10 particulate matter (Hourly measured)   Unnamed: 0_level_1
0                                            NaN  2004-01-01 00:00:00
1                                            NaN  2004-01-01 00:00:00
2                                            NaN  2004-01-01 00:00:00
3                                            NaN  2004-01-01 00:00:00
4                                            NaN  2004-01-01 00:00:00
...                                          ...                  ...
567939                                       NaN  2020-12-01 00:00:00
567940                                       NaN  2020-12-01 00:00:00
567941                                       NaN  2020-12-01 00:00:00
567942                                       NaN                  NaN
567943                                       NaN                  End

       H&F Hammersmith Town Centre        \
                  Nitrogen dioxide Ozone
0                              NaN   NaN
1                              NaN   NaN
2                              NaN   NaN
3                              NaN   NaN
4                              NaN   NaN
...                            ...   ...
567939                         NaN   NaN
567940                         NaN   NaN
567941                         NaN   NaN
567942                         NaN   NaN
567943                         NaN   NaN

                                                  ...  \
       PM10 particulate matter (Hourly measured)  ...
0                                            NaN  ...
1                                            NaN  ...
2                                            NaN  ...
3                                            NaN  ...
4                                            NaN  ...
...                                          ...  ...
567939                                       NaN  ...
567940                                       NaN  ...
567941                                       NaN  ...
567942                                       NaN  ...
567943                                       NaN  ...

                             Reading Oxford Road      Scrubs Lane  \
       PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                            NaN              NaN
1                                            NaN              NaN
2                                            NaN              NaN
3                                            NaN              NaN
4                                            NaN              NaN
...                                          ...              ...
567939                                       NaN              NaN
567940                                       NaN              NaN
567941                                       NaN              NaN
567942                                       NaN              NaN
567943                                       NaN              NaN

                                                                 Time  \
       PM10 particulate matter (Hourly measured)   Unnamed: 1_level_1
0                                            NaN             01:00:00
1                                            NaN             02:00:00
2                                            NaN             03:00:00
3                                            NaN             04:00:00
4                                            NaN             05:00:00
...                                          ...                  ...
567939                                       NaN             22:00:00
567940                                       NaN             23:00:00
567941                                       NaN  1900-01-01 00:00:00
567942                                       NaN                  NaN
567943                                       NaN                  NaN

       Watford Roadside                        Watford Town Hall  \
        Carbon monoxide Nitrogen dioxide Ozone  Nitrogen dioxide
0                   NaN              NaN   NaN               NaN
1                   NaN              NaN   NaN               NaN
2                   NaN              NaN   NaN               NaN
3                   NaN              NaN   NaN               NaN
4                   NaN              NaN   NaN               NaN
...                 ...              ...   ...               ...
567939              NaN              NaN   NaN               NaN
567940              NaN              NaN   NaN               NaN
567941              NaN              NaN   NaN               NaN
567942              NaN              NaN   NaN               NaN
567943              NaN              NaN   NaN               NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
567939                                      15.8
567940                                      16.9
567941                                      14.5
567942                                       NaN
567943                                       NaN


       PM2.5 particulate matter (Hourly measured)
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
567939                                       10.9
567940                                       12.0
567941                                       10.5
567942                                        NaN
567943                                        NaN

[567944 rows x 31 columns]

## Step 4: Identify closed monitoring stations

In [11]:
df.dropna(axis=1, how='all')
df

         index         Broadway                                            \
               Nitrogen dioxide PM10 particulate matter (Hourly measured)
0            0              NaN                                       NaN
1            1              NaN                                       NaN
2            2              NaN                                       NaN
3            3              NaN                                       NaN
4            4              NaN                                       NaN
...        ...              ...                                       ...
567939  148317              NaN                                       NaN
567940  148318              NaN                                       NaN
567941  148319              NaN                                       NaN
567942  148320              NaN                                       NaN
567943  148321              NaN                                       NaN

                            Brook Green  \
       Sulphur dioxide Nitrogen dioxide
0                  NaN              NaN
1                  NaN              NaN
2                  NaN              NaN
3                  NaN              NaN
4                  NaN              NaN
...                ...              ...
567939             NaN              NaN
567940             NaN              NaN
567941             NaN              NaN
567942             NaN              NaN
567943             NaN              NaN

                                                                 Date  \
       PM10 particulate matter (Hourly measured)   Unnamed: 0_level_1
0                                            NaN  2004-01-01 00:00:00
1                                            NaN  2004-01-01 00:00:00
2                                            NaN  2004-01-01 00:00:00
3                                            NaN  2004-01-01 00:00:00
4                                            NaN  2004-01-01 00:00:00
...                                          ...                  ...
567939                                       NaN  2020-12-01 00:00:00
567940                                       NaN  2020-12-01 00:00:00
567941                                       NaN  2020-12-01 00:00:00
567942                                       NaN                  NaN
567943                                       NaN                  End

       H&F Hammersmith Town Centre        \
                  Nitrogen dioxide Ozone
0                              NaN   NaN
1                              NaN   NaN
2                              NaN   NaN
3                              NaN   NaN
4                              NaN   NaN
...                            ...   ...
567939                         NaN   NaN
567940                         NaN   NaN
567941                         NaN   NaN
567942                         NaN   NaN
567943                         NaN   NaN

                                                  ...  \
       PM10 particulate matter (Hourly measured)  ...
0                                            NaN  ...
1                                            NaN  ...
2                                            NaN  ...
3                                            NaN  ...
4                                            NaN  ...
...                                          ...  ...
567939                                       NaN  ...
567940                                       NaN  ...
567941                                       NaN  ...
567942                                       NaN  ...
567943                                       NaN  ...

                             Reading Oxford Road      Scrubs Lane  \
       PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                            NaN              NaN
1                                            NaN              NaN
2                                            NaN              NaN
3                                            NaN              NaN
4                                            NaN              NaN
...                                          ...              ...
567939                                       NaN              NaN
567940                                       NaN              NaN
567941                                       NaN              NaN
567942                                       NaN              NaN
567943                                       NaN              NaN

                                                                 Time  \
       PM10 particulate matter (Hourly measured)   Unnamed: 1_level_1
0                                            NaN             01:00:00
1                                            NaN             02:00:00
2                                            NaN             03:00:00
3                                            NaN             04:00:00
4                                            NaN             05:00:00
...                                          ...                  ...
567939                                       NaN             22:00:00
567940                                       NaN             23:00:00
567941                                       NaN  1900-01-01 00:00:00
567942                                       NaN                  NaN
567943                                       NaN                  NaN

       Watford Roadside                        Watford Town Hall  \
        Carbon monoxide Nitrogen dioxide Ozone  Nitrogen dioxide
0                   NaN              NaN   NaN               NaN
1                   NaN              NaN   NaN               NaN
2                   NaN              NaN   NaN               NaN
3                   NaN              NaN   NaN               NaN
4                   NaN              NaN   NaN               NaN
...                 ...              ...   ...               ...
567939              NaN              NaN   NaN               NaN
567940              NaN              NaN   NaN               NaN
567941              NaN              NaN   NaN               NaN
567942              NaN              NaN   NaN               NaN
567943              NaN              NaN   NaN               NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
567939                                      15.8
567940                                      16.9
567941                                      14.5
567942                                       NaN
567943                                       NaN


       PM2.5 particulate matter (Hourly measured)
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
567939                                       10.9
567940                                       12.0
567941                                       10.5
567942                                        NaN
567943                                        NaN

[567944 rows x 31 columns]

In [12]:
non_null_columns = [col for col in df.columns if df.loc[:, col].notna().any()]
open_monitoring_sites = df[non_null_columns]
open_monitoring_sites

         index         Broadway                                            \
               Nitrogen dioxide PM10 particulate matter (Hourly measured)
0            0              NaN                                       NaN
1            1              NaN                                       NaN
2            2              NaN                                       NaN
3            3              NaN                                       NaN
4            4              NaN                                       NaN
...        ...              ...                                       ...
567939  148317              NaN                                       NaN
567940  148318              NaN                                       NaN
567941  148319              NaN                                       NaN
567942  148320              NaN                                       NaN
567943  148321              NaN                                       NaN

                            Brook Green  \
       Sulphur dioxide Nitrogen dioxide
0                  NaN              NaN
1                  NaN              NaN
2                  NaN              NaN
3                  NaN              NaN
4                  NaN              NaN
...                ...              ...
567939             NaN              NaN
567940             NaN              NaN
567941             NaN              NaN
567942             NaN              NaN
567943             NaN              NaN

                                                                 Date  \
       PM10 particulate matter (Hourly measured)   Unnamed: 0_level_1
0                                            NaN  2004-01-01 00:00:00
1                                            NaN  2004-01-01 00:00:00
2                                            NaN  2004-01-01 00:00:00
3                                            NaN  2004-01-01 00:00:00
4                                            NaN  2004-01-01 00:00:00
...                                          ...                  ...
567939                                       NaN  2020-12-01 00:00:00
567940                                       NaN  2020-12-01 00:00:00
567941                                       NaN  2020-12-01 00:00:00
567942                                       NaN                  NaN
567943                                       NaN                  End

       H&F Hammersmith Town Centre        \
                  Nitrogen dioxide Ozone
0                              NaN   NaN
1                              NaN   NaN
2                              NaN   NaN
3                              NaN   NaN
4                              NaN   NaN
...                            ...   ...
567939                         NaN   NaN
567940                         NaN   NaN
567941                         NaN   NaN
567942                         NaN   NaN
567943                         NaN   NaN

                                                  ... Reading Oxford Road  \
       PM10 particulate matter (Hourly measured)  ...    Nitrogen dioxide
0                                            NaN  ...                 NaN
1                                            NaN  ...                 NaN
2                                            NaN  ...                 NaN
3                                            NaN  ...                 NaN
4                                            NaN  ...                 NaN
...                                          ...  ...                 ...
567939                                       NaN  ...                 NaN
567940                                       NaN  ...                 NaN
567941                                       NaN  ...                 NaN
567942                                       NaN  ...                 NaN
567943                                       NaN  ...                 NaN

                                                      Scrubs Lane  \
       PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                            NaN              NaN
1                                            NaN              NaN
2                                            NaN              NaN
3                                            NaN              NaN
4                                            NaN              NaN
...                                          ...              ...
567939                                       NaN              NaN
567940                                       NaN              NaN
567941                                       NaN              NaN
567942                                       NaN              NaN
567943                                       NaN              NaN

                                                                 Time  \
       PM10 particulate matter (Hourly measured)   Unnamed: 1_level_1
0                                            NaN             01:00:00
1                                            NaN             02:00:00
2                                            NaN             03:00:00
3                                            NaN             04:00:00
4                                            NaN             05:00:00
...                                          ...                  ...
567939                                       NaN             22:00:00
567940                                       NaN             23:00:00
567941                                       NaN  1900-01-01 00:00:00
567942                                       NaN                  NaN
567943                                       NaN                  NaN

       Watford Roadside       Watford Town Hall  \
       Nitrogen dioxide Ozone  Nitrogen dioxide
0                   NaN   NaN               NaN
1                   NaN   NaN               NaN
2                   NaN   NaN               NaN
3                   NaN   NaN               NaN
4                   NaN   NaN               NaN
...                 ...   ...               ...
567939              NaN   NaN               NaN
567940              NaN   NaN               NaN
567941              NaN   NaN               NaN
567942              NaN   NaN               NaN
567943              NaN   NaN               NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
567939                                      15.8
567940                                      16.9
567941                                      14.5
567942                                       NaN
567943                                       NaN


       PM2.5 particulate matter (Hourly measured)
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
567939                                       10.9
567940                                       12.0
567941                                       10.5
567942                                        NaN
567943                                        NaN

[567944 rows x 30 columns]

## Step 5: Setting Date and Time columns to Datetime

In [14]:
# open_monitoring_sites[("Time", "Unnamed: 0_level_1")] = [str(x)[-8:] for x in open_monitoring_sites[("Time", "Unnamed: 0_level_1")]]

In [15]:
open_monitoring_sites

         index         Broadway                                            \
               Nitrogen dioxide PM10 particulate matter (Hourly measured)
0            0              NaN                                       NaN
1            1              NaN                                       NaN
2            2              NaN                                       NaN
3            3              NaN                                       NaN
4            4              NaN                                       NaN
...        ...              ...                                       ...
567939  148317              NaN                                       NaN
567940  148318              NaN                                       NaN
567941  148319              NaN                                       NaN
567942  148320              NaN                                       NaN
567943  148321              NaN                                       NaN

                            Brook Green  \
       Sulphur dioxide Nitrogen dioxide
0                  NaN              NaN
1                  NaN              NaN
2                  NaN              NaN
3                  NaN              NaN
4                  NaN              NaN
...                ...              ...
567939             NaN              NaN
567940             NaN              NaN
567941             NaN              NaN
567942             NaN              NaN
567943             NaN              NaN

                                                                 Date  \
       PM10 particulate matter (Hourly measured)   Unnamed: 0_level_1
0                                            NaN  2004-01-01 00:00:00
1                                            NaN  2004-01-01 00:00:00
2                                            NaN  2004-01-01 00:00:00
3                                            NaN  2004-01-01 00:00:00
4                                            NaN  2004-01-01 00:00:00
...                                          ...                  ...
567939                                       NaN  2020-12-01 00:00:00
567940                                       NaN  2020-12-01 00:00:00
567941                                       NaN  2020-12-01 00:00:00
567942                                       NaN                  NaN
567943                                       NaN                  End

       H&F Hammersmith Town Centre        \
                  Nitrogen dioxide Ozone
0                              NaN   NaN
1                              NaN   NaN
2                              NaN   NaN
3                              NaN   NaN
4                              NaN   NaN
...                            ...   ...
567939                         NaN   NaN
567940                         NaN   NaN
567941                         NaN   NaN
567942                         NaN   NaN
567943                         NaN   NaN

                                                  ... Reading Oxford Road  \
       PM10 particulate matter (Hourly measured)  ...    Nitrogen dioxide
0                                            NaN  ...                 NaN
1                                            NaN  ...                 NaN
2                                            NaN  ...                 NaN
3                                            NaN  ...                 NaN
4                                            NaN  ...                 NaN
...                                          ...  ...                 ...
567939                                       NaN  ...                 NaN
567940                                       NaN  ...                 NaN
567941                                       NaN  ...                 NaN
567942                                       NaN  ...                 NaN
567943                                       NaN  ...                 NaN

                                                      Scrubs Lane  \
       PM10 particulate matter (Hourly measured) Nitrogen dioxide
0                                            NaN              NaN
1                                            NaN              NaN
2                                            NaN              NaN
3                                            NaN              NaN
4                                            NaN              NaN
...                                          ...              ...
567939                                       NaN              NaN
567940                                       NaN              NaN
567941                                       NaN              NaN
567942                                       NaN              NaN
567943                                       NaN              NaN

                                                                 Time  \
       PM10 particulate matter (Hourly measured)   Unnamed: 1_level_1
0                                            NaN             01:00:00
1                                            NaN             02:00:00
2                                            NaN             03:00:00
3                                            NaN             04:00:00
4                                            NaN             05:00:00
...                                          ...                  ...
567939                                       NaN             22:00:00
567940                                       NaN             23:00:00
567941                                       NaN  1900-01-01 00:00:00
567942                                       NaN                  NaN
567943                                       NaN                  NaN

       Watford Roadside       Watford Town Hall  \
       Nitrogen dioxide Ozone  Nitrogen dioxide
0                   NaN   NaN               NaN
1                   NaN   NaN               NaN
2                   NaN   NaN               NaN
3                   NaN   NaN               NaN
4                   NaN   NaN               NaN
...                 ...   ...               ...
567939              NaN   NaN               NaN
567940              NaN   NaN               NaN
567941              NaN   NaN               NaN
567942              NaN   NaN               NaN
567943              NaN   NaN               NaN

                                                  \
       PM10 particulate matter (Hourly measured)
0                                            NaN
1                                            NaN
2                                            NaN
3                                            NaN
4                                            NaN
...                                          ...
567939                                      15.8
567940                                      16.9
567941                                      14.5
567942                                       NaN
567943                                       NaN


       PM2.5 particulate matter (Hourly measured)
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
567939                                       10.9
567940                                       12.0
567941                                       10.5
567942                                        NaN
567943                                        NaN

[567944 rows x 30 columns]

In [16]:
#open_monitoring_sites[("index", "")] = [str(x)[0:10] for x in open_monitoring_sites[("index", "")]]
#open_monitoring_sites

In [17]:
open_monitoring_sites = open_monitoring_sites.set_index("index")
open_monitoring_sites.drop(columns=["Time"], axis = 1, inplace = True)
open_monitoring_sites.dropna(how='all', inplace = True)
pd.set_option('display.max_columns', None)
open_monitoring_sites.index = pd.to_datetime(open_monitoring_sites.index)
open_monitoring_sites.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 567940 entries, 1970-01-01 00:00:00 to 1970-01-01 00:00:00.000148321
Data columns (total 28 columns):
 #   Column                                                                     Non-Null Count   Dtype
---  ------                                                                     --------------   -----
 0   (Broadway, Nitrogen dioxide)                                               37098 non-null   float64
 1   (Broadway, PM10 particulate matter (Hourly measured))                      29386 non-null   float64
 2   (Broadway, Sulphur dioxide)                                                21209 non-null   float64
 3   (Brook Green, Nitrogen dioxide)                                            41795 non-null   float64
 4   (Brook Green, PM10 particulate matter (Hourly measured))                   41586 non-null   float64
 5   (Date, Unnamed: 0_level_1)                                                 567940 non-null  object
 6   (H&F Hammersmith Town Centre, Nitrogen dioxide)                            14201 non-null   float64
 7   (H&F Hammersmith Town Centre, Ozone)                                       14952 non-null   float64
 8   (H&F Hammersmith Town Centre, PM10 particulate matter (Hourly measured))   14785 non-null   float64
 9   (H&F Hammersmith Town Centre, PM2.5 particulate matter (Hourly measured))  14232 non-null   float64
 10  (H&F Shepherd's Bush, Nitrogen dioxide)                                    62356 non-null   float64
 11  (H&F Shepherd's Bush, PM10 particulate matter (Hourly measured))           60841 non-null   float64
 12  (Oxford High St, Nitrogen dioxide)                                         133334 non-null  float64
 13  (Oxford High St, PM10 particulate matter (Hourly measured))                135709 non-null  float64
 14  (Oxford St Ebbes (Cal Club), Ozone)                                        137537 non-null  float64
 15  (Reading Caversham Road, Nitrogen dioxide)                                 114311 non-null  float64
 16  (Reading Caversham Road, PM10 particulate matter (Hourly measured))        108736 non-null  float64
 17  (Reading Kings Road, Nitrogen dioxide)                                     66972 non-null   float64
 18  (Reading Kings Road, PM10 particulate matter (Hourly measured))            62717 non-null   float64
 19  (Reading Oxford Road, Nitrogen dioxide)                                    106161 non-null  float64
 20  (Reading Oxford Road, PM10 particulate matter (Hourly measured))           103163 non-null  float64
 21  (Scrubs Lane, Nitrogen dioxide)                                            5027 non-null    float64
 22  (Scrubs Lane, PM10 particulate matter (Hourly measured))                   5021 non-null    float64
 23  (Watford Roadside, Nitrogen dioxide)                                       30096 non-null   float64
 24  (Watford Roadside, Ozone)                                                  30335 non-null   float64
 25  (Watford Town Hall, Nitrogen dioxide)                                      107920 non-null  float64
 26  (Watford Town Hall, PM10 particulate matter (Hourly measured))             140183 non-null  float64
 27  (Watford Town Hall, PM2.5 particulate matter (Hourly measured))            33898 non-null   float64
dtypes: float64(27), object(1)
memory usage: 125.7+ MB

convert to datetime

In [18]:
#open_monitoring_sites = open_monitoring_sites.reset_index()
#open_monitoring_sites['index'] = pd.to_datetime(open_monitoring_sites['index'], format='%Y-%m-%d',utc=True)
#open_monitoring_sites[("index", "")] = [str(x)[0:10] for x in open_monitoring_sites[("index", "")]]
#open_monitoring_sites = open_monitoring_sites.set_index("index")
open_monitoring_sites

                                      Broadway  \
                              Nitrogen dioxide
index
1970-01-01 00:00:00.000000000              NaN
1970-01-01 00:00:00.000000001              NaN
1970-01-01 00:00:00.000000002              NaN
1970-01-01 00:00:00.000000003              NaN
1970-01-01 00:00:00.000000004              NaN
...                                        ...
1970-01-01 00:00:00.000148316              NaN
1970-01-01 00:00:00.000148317              NaN
1970-01-01 00:00:00.000148318              NaN
1970-01-01 00:00:00.000148319              NaN
1970-01-01 00:00:00.000148321              NaN

                                                                         \
                              PM10 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                       NaN
1970-01-01 00:00:00.000000001                                       NaN
1970-01-01 00:00:00.000000002                                       NaN
1970-01-01 00:00:00.000000003                                       NaN
1970-01-01 00:00:00.000000004                                       NaN
...                                                                 ...
1970-01-01 00:00:00.000148316                                       NaN
1970-01-01 00:00:00.000148317                                       NaN
1970-01-01 00:00:00.000148318                                       NaN
1970-01-01 00:00:00.000148319                                       NaN
1970-01-01 00:00:00.000148321                                       NaN

                                                   Brook Green  \
                              Sulphur dioxide Nitrogen dioxide
index
1970-01-01 00:00:00.000000000             NaN              NaN
1970-01-01 00:00:00.000000001             NaN              NaN
1970-01-01 00:00:00.000000002             NaN              NaN
1970-01-01 00:00:00.000000003             NaN              NaN
1970-01-01 00:00:00.000000004             NaN              NaN
...                                       ...              ...
1970-01-01 00:00:00.000148316             NaN              NaN
1970-01-01 00:00:00.000148317             NaN              NaN
1970-01-01 00:00:00.000148318             NaN              NaN
1970-01-01 00:00:00.000148319             NaN              NaN
1970-01-01 00:00:00.000148321             NaN              NaN

                                                                         \
                              PM10 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                       NaN
1970-01-01 00:00:00.000000001                                       NaN
1970-01-01 00:00:00.000000002                                       NaN
1970-01-01 00:00:00.000000003                                       NaN
1970-01-01 00:00:00.000000004                                       NaN
...                                                                 ...
1970-01-01 00:00:00.000148316                                       NaN
1970-01-01 00:00:00.000148317                                       NaN
1970-01-01 00:00:00.000148318                                       NaN
1970-01-01 00:00:00.000148319                                       NaN
1970-01-01 00:00:00.000148321                                       NaN

                                              Date  \
                                Unnamed: 0_level_1
index
1970-01-01 00:00:00.000000000  2004-01-01 00:00:00
1970-01-01 00:00:00.000000001  2004-01-01 00:00:00
1970-01-01 00:00:00.000000002  2004-01-01 00:00:00
1970-01-01 00:00:00.000000003  2004-01-01 00:00:00
1970-01-01 00:00:00.000000004  2004-01-01 00:00:00
...                                            ...
1970-01-01 00:00:00.000148316  2020-12-01 00:00:00
1970-01-01 00:00:00.000148317  2020-12-01 00:00:00
1970-01-01 00:00:00.000148318  2020-12-01 00:00:00
1970-01-01 00:00:00.000148319  2020-12-01 00:00:00
1970-01-01 00:00:00.000148321                  End

                              H&F Hammersmith Town Centre        \
                                         Nitrogen dioxide Ozone
index
1970-01-01 00:00:00.000000000                         NaN   NaN
1970-01-01 00:00:00.000000001                         NaN   NaN
1970-01-01 00:00:00.000000002                         NaN   NaN
1970-01-01 00:00:00.000000003                         NaN   NaN
1970-01-01 00:00:00.000000004                         NaN   NaN
...                                                   ...   ...
1970-01-01 00:00:00.000148316                         NaN   NaN
1970-01-01 00:00:00.000148317                         NaN   NaN
1970-01-01 00:00:00.000148318                         NaN   NaN
1970-01-01 00:00:00.000148319                         NaN   NaN
1970-01-01 00:00:00.000148321                         NaN   NaN

                                                                         \
                              PM10 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                       NaN
1970-01-01 00:00:00.000000001                                       NaN
1970-01-01 00:00:00.000000002                                       NaN
1970-01-01 00:00:00.000000003                                       NaN
1970-01-01 00:00:00.000000004                                       NaN
...                                                                 ...
1970-01-01 00:00:00.000148316                                       NaN
1970-01-01 00:00:00.000148317                                       NaN
1970-01-01 00:00:00.000148318                                       NaN
1970-01-01 00:00:00.000148319                                       NaN
1970-01-01 00:00:00.000148321                                       NaN

                                                                          \
                              PM2.5 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                        NaN
1970-01-01 00:00:00.000000001                                        NaN
1970-01-01 00:00:00.000000002                                        NaN
1970-01-01 00:00:00.000000003                                        NaN
1970-01-01 00:00:00.000000004                                        NaN
...                                                                  ...
1970-01-01 00:00:00.000148316                                        NaN
1970-01-01 00:00:00.000148317                                        NaN
1970-01-01 00:00:00.000148318                                        NaN
1970-01-01 00:00:00.000148319                                        NaN
1970-01-01 00:00:00.000148321                                        NaN

                              H&F Shepherd's Bush  \
                                 Nitrogen dioxide
index
1970-01-01 00:00:00.000000000                 NaN
1970-01-01 00:00:00.000000001                 NaN
1970-01-01 00:00:00.000000002                 NaN
1970-01-01 00:00:00.000000003                 NaN
1970-01-01 00:00:00.000000004                 NaN
...                                           ...
1970-01-01 00:00:00.000148316                 NaN
1970-01-01 00:00:00.000148317                 NaN
1970-01-01 00:00:00.000148318                 NaN
1970-01-01 00:00:00.000148319                 NaN
1970-01-01 00:00:00.000148321                 NaN

                                                                         \
                              PM10 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                       NaN
1970-01-01 00:00:00.000000001                                       NaN
1970-01-01 00:00:00.000000002                                       NaN
1970-01-01 00:00:00.000000003                                       NaN
1970-01-01 00:00:00.000000004                                       NaN
...                                                                 ...
1970-01-01 00:00:00.000148316                                       NaN
1970-01-01 00:00:00.000148317                                       NaN
1970-01-01 00:00:00.000148318                                       NaN
1970-01-01 00:00:00.000148319                                       NaN
1970-01-01 00:00:00.000148321                                       NaN

                                Oxford High St  \
                              Nitrogen dioxide
index
1970-01-01 00:00:00.000000000              NaN
1970-01-01 00:00:00.000000001              NaN
1970-01-01 00:00:00.000000002              NaN
1970-01-01 00:00:00.000000003              NaN
1970-01-01 00:00:00.000000004              NaN
...                                        ...
1970-01-01 00:00:00.000148316              NaN
1970-01-01 00:00:00.000148317              NaN
1970-01-01 00:00:00.000148318              NaN
1970-01-01 00:00:00.000148319              NaN
1970-01-01 00:00:00.000148321              NaN

                                                                         \
                              PM10 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                       NaN
1970-01-01 00:00:00.000000001                                       NaN
1970-01-01 00:00:00.000000002                                       NaN
1970-01-01 00:00:00.000000003                                       NaN
1970-01-01 00:00:00.000000004                                       NaN
...                                                                 ...
1970-01-01 00:00:00.000148316                                       NaN
1970-01-01 00:00:00.000148317                                       NaN
1970-01-01 00:00:00.000148318                                       NaN
1970-01-01 00:00:00.000148319                                       NaN
1970-01-01 00:00:00.000148321                                       NaN

                              Oxford St Ebbes (Cal Club)  \
                                                   Ozone
index
1970-01-01 00:00:00.000000000                        NaN
1970-01-01 00:00:00.000000001                        NaN
1970-01-01 00:00:00.000000002                        NaN
1970-01-01 00:00:00.000000003                        NaN
1970-01-01 00:00:00.000000004                        NaN
...                                                  ...
1970-01-01 00:00:00.000148316                        NaN
1970-01-01 00:00:00.000148317                        NaN
1970-01-01 00:00:00.000148318                        NaN
1970-01-01 00:00:00.000148319                        NaN
1970-01-01 00:00:00.000148321                        NaN

                              Reading Caversham Road  \
                                    Nitrogen dioxide
index
1970-01-01 00:00:00.000000000                    NaN
1970-01-01 00:00:00.000000001                    NaN
1970-01-01 00:00:00.000000002                    NaN
1970-01-01 00:00:00.000000003                    NaN
1970-01-01 00:00:00.000000004                    NaN
...                                              ...
1970-01-01 00:00:00.000148316                    NaN
1970-01-01 00:00:00.000148317                    NaN
1970-01-01 00:00:00.000148318                    NaN
1970-01-01 00:00:00.000148319                    NaN
1970-01-01 00:00:00.000148321                    NaN

                                                                         \
                              PM10 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                       NaN
1970-01-01 00:00:00.000000001                                       NaN
1970-01-01 00:00:00.000000002                                       NaN
1970-01-01 00:00:00.000000003                                       NaN
1970-01-01 00:00:00.000000004                                       NaN
...                                                                 ...
1970-01-01 00:00:00.000148316                                       NaN
1970-01-01 00:00:00.000148317                                       NaN
1970-01-01 00:00:00.000148318                                       NaN
1970-01-01 00:00:00.000148319                                       NaN
1970-01-01 00:00:00.000148321                                       NaN

                              Reading Kings Road  \
                                Nitrogen dioxide
index
1970-01-01 00:00:00.000000000                NaN
1970-01-01 00:00:00.000000001                NaN
1970-01-01 00:00:00.000000002                NaN
1970-01-01 00:00:00.000000003                NaN
1970-01-01 00:00:00.000000004                NaN
...                                          ...
1970-01-01 00:00:00.000148316                NaN
1970-01-01 00:00:00.000148317                NaN
1970-01-01 00:00:00.000148318                NaN
1970-01-01 00:00:00.000148319                NaN
1970-01-01 00:00:00.000148321                NaN

                                                                         \
                              PM10 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                       NaN
1970-01-01 00:00:00.000000001                                       NaN
1970-01-01 00:00:00.000000002                                       NaN
1970-01-01 00:00:00.000000003                                       NaN
1970-01-01 00:00:00.000000004                                       NaN
...                                                                 ...
1970-01-01 00:00:00.000148316                                       NaN
1970-01-01 00:00:00.000148317                                       NaN
1970-01-01 00:00:00.000148318                                       NaN
1970-01-01 00:00:00.000148319                                       NaN
1970-01-01 00:00:00.000148321                                       NaN

                              Reading Oxford Road  \
                                 Nitrogen dioxide
index
1970-01-01 00:00:00.000000000                 NaN
1970-01-01 00:00:00.000000001                 NaN
1970-01-01 00:00:00.000000002                 NaN
1970-01-01 00:00:00.000000003                 NaN
1970-01-01 00:00:00.000000004                 NaN
...                                           ...
1970-01-01 00:00:00.000148316                 NaN
1970-01-01 00:00:00.000148317                 NaN
1970-01-01 00:00:00.000148318                 NaN
1970-01-01 00:00:00.000148319                 NaN
1970-01-01 00:00:00.000148321                 NaN

                                                                         \
                              PM10 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                       NaN
1970-01-01 00:00:00.000000001                                       NaN
1970-01-01 00:00:00.000000002                                       NaN
1970-01-01 00:00:00.000000003                                       NaN
1970-01-01 00:00:00.000000004                                       NaN
...                                                                 ...
1970-01-01 00:00:00.000148316                                       NaN
1970-01-01 00:00:00.000148317                                       NaN
1970-01-01 00:00:00.000148318                                       NaN
1970-01-01 00:00:00.000148319                                       NaN
1970-01-01 00:00:00.000148321                                       NaN

                                   Scrubs Lane  \
                              Nitrogen dioxide
index
1970-01-01 00:00:00.000000000              NaN
1970-01-01 00:00:00.000000001              NaN
1970-01-01 00:00:00.000000002              NaN
1970-01-01 00:00:00.000000003              NaN
1970-01-01 00:00:00.000000004              NaN
...                                        ...
1970-01-01 00:00:00.000148316              NaN
1970-01-01 00:00:00.000148317              NaN
1970-01-01 00:00:00.000148318              NaN
1970-01-01 00:00:00.000148319              NaN
1970-01-01 00:00:00.000148321              NaN

                                                                         \
                              PM10 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                       NaN
1970-01-01 00:00:00.000000001                                       NaN
1970-01-01 00:00:00.000000002                                       NaN
1970-01-01 00:00:00.000000003                                       NaN
1970-01-01 00:00:00.000000004                                       NaN
...                                                                 ...
1970-01-01 00:00:00.000148316                                       NaN
1970-01-01 00:00:00.000148317                                       NaN
1970-01-01 00:00:00.000148318                                       NaN
1970-01-01 00:00:00.000148319                                       NaN
1970-01-01 00:00:00.000148321                                       NaN

                              Watford Roadside       Watford Town Hall  \
                              Nitrogen dioxide Ozone  Nitrogen dioxide
index
1970-01-01 00:00:00.000000000              NaN   NaN               NaN
1970-01-01 00:00:00.000000001              NaN   NaN               NaN
1970-01-01 00:00:00.000000002              NaN   NaN               NaN
1970-01-01 00:00:00.000000003              NaN   NaN               NaN
1970-01-01 00:00:00.000000004              NaN   NaN               NaN
...                                        ...   ...               ...
1970-01-01 00:00:00.000148316              NaN   NaN               NaN
1970-01-01 00:00:00.000148317              NaN   NaN               NaN
1970-01-01 00:00:00.000148318              NaN   NaN               NaN
1970-01-01 00:00:00.000148319              NaN   NaN               NaN
1970-01-01 00:00:00.000148321              NaN   NaN               NaN

                                                                         \
                              PM10 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                       NaN
1970-01-01 00:00:00.000000001                                       NaN
1970-01-01 00:00:00.000000002                                       NaN
1970-01-01 00:00:00.000000003                                       NaN
1970-01-01 00:00:00.000000004                                       NaN
...                                                                 ...
1970-01-01 00:00:00.000148316                                      17.3
1970-01-01 00:00:00.000148317                                      15.8
1970-01-01 00:00:00.000148318                                      16.9
1970-01-01 00:00:00.000148319                                      14.5
1970-01-01 00:00:00.000148321                                       NaN


                              PM2.5 particulate matter (Hourly measured)
index
1970-01-01 00:00:00.000000000                                        NaN
1970-01-01 00:00:00.000000001                                        NaN
1970-01-01 00:00:00.000000002                                        NaN
1970-01-01 00:00:00.000000003                                        NaN
1970-01-01 00:00:00.000000004                                        NaN
...                                                                  ...
1970-01-01 00:00:00.000148316                                       10.7
1970-01-01 00:00:00.000148317                                       10.9
1970-01-01 00:00:00.000148318                                       12.0
1970-01-01 00:00:00.000148319                                       10.5
1970-01-01 00:00:00.000148321                                        NaN

[567940 rows x 28 columns]

aggregate to daily

In [19]:
import datetime
dailyOuter = open_monitoring_sites.resample('D').mean()
#open_monitoring_sites.groupby(pd.Grouper(freq='1D', level=0)).mean()
dailyOuter

                   Broadway                                            \
           Nitrogen dioxide PM10 particulate matter (Hourly measured)
index
1970-01-01        79.700234                                 31.075978

                                Brook Green  \
           Sulphur dioxide Nitrogen dioxide
index
1970-01-01        6.884052        39.241718

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-01-01                                 22.586616

           H&F Hammersmith Town Centre            \
                      Nitrogen dioxide     Ozone
index
1970-01-01                   44.916206  35.32659

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-01-01                                 20.188576

                                                      H&F Shepherd's Bush  \
           PM2.5 particulate matter (Hourly measured)    Nitrogen dioxide
index
1970-01-01                                  14.253794           72.864932

                                                       Oxford High St  \
           PM10 particulate matter (Hourly measured) Nitrogen dioxide
index
1970-01-01                                 27.532192        49.439685

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-01-01                                 22.168788

           Oxford St Ebbes (Cal Club) Reading Caversham Road  \
                                Ozone       Nitrogen dioxide
index
1970-01-01                   40.72435              40.374836

                                                     Reading Kings Road  \
           PM10 particulate matter (Hourly measured)   Nitrogen dioxide
index
1970-01-01                                 26.431217          53.670914

                                                     Reading Oxford Road  \
           PM10 particulate matter (Hourly measured)    Nitrogen dioxide
index
1970-01-01                                 26.162468           32.257804

                                                          Scrubs Lane  \
           PM10 particulate matter (Hourly measured) Nitrogen dioxide
index
1970-01-01                                 22.671392        40.952077

                                                     Watford Roadside  \
           PM10 particulate matter (Hourly measured) Nitrogen dioxide
index
1970-01-01                                 32.259391        37.439494

                      Watford Town Hall  \
                Ozone  Nitrogen dioxide
index
1970-01-01  39.028515          35.11172

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-01-01                                 20.402955


           PM2.5 particulate matter (Hourly measured)
index
1970-01-01                                   9.252213

In [20]:
monthlyOuter = dailyOuter.resample('M').mean()
monthlyOuter

                   Broadway                                            \
           Nitrogen dioxide PM10 particulate matter (Hourly measured)
index
1970-01-31        79.700234                                 31.075978

                                Brook Green  \
           Sulphur dioxide Nitrogen dioxide
index
1970-01-31        6.884052        39.241718

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-01-31                                 22.586616

           H&F Hammersmith Town Centre            \
                      Nitrogen dioxide     Ozone
index
1970-01-31                   44.916206  35.32659

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-01-31                                 20.188576

                                                      H&F Shepherd's Bush  \
           PM2.5 particulate matter (Hourly measured)    Nitrogen dioxide
index
1970-01-31                                  14.253794           72.864932

                                                       Oxford High St  \
           PM10 particulate matter (Hourly measured) Nitrogen dioxide
index
1970-01-31                                 27.532192        49.439685

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-01-31                                 22.168788

           Oxford St Ebbes (Cal Club) Reading Caversham Road  \
                                Ozone       Nitrogen dioxide
index
1970-01-31                   40.72435              40.374836

                                                     Reading Kings Road  \
           PM10 particulate matter (Hourly measured)   Nitrogen dioxide
index
1970-01-31                                 26.431217          53.670914

                                                     Reading Oxford Road  \
           PM10 particulate matter (Hourly measured)    Nitrogen dioxide
index
1970-01-31                                 26.162468           32.257804

                                                          Scrubs Lane  \
           PM10 particulate matter (Hourly measured) Nitrogen dioxide
index
1970-01-31                                 22.671392        40.952077

                                                     Watford Roadside  \
           PM10 particulate matter (Hourly measured) Nitrogen dioxide
index
1970-01-31                                 32.259391        37.439494

                      Watford Town Hall  \
                Ozone  Nitrogen dioxide
index
1970-01-31  39.028515          35.11172

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-01-31                                 20.402955


           PM2.5 particulate matter (Hourly measured)
index
1970-01-31                                   9.252213

In [21]:
yearlyOuter = monthlyOuter.resample('Y').mean()
yearlyOuter

                   Broadway                                            \
           Nitrogen dioxide PM10 particulate matter (Hourly measured)
index
1970-12-31        79.700234                                 31.075978

                                Brook Green  \
           Sulphur dioxide Nitrogen dioxide
index
1970-12-31        6.884052        39.241718

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-12-31                                 22.586616

           H&F Hammersmith Town Centre            \
                      Nitrogen dioxide     Ozone
index
1970-12-31                   44.916206  35.32659

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-12-31                                 20.188576

                                                      H&F Shepherd's Bush  \
           PM2.5 particulate matter (Hourly measured)    Nitrogen dioxide
index
1970-12-31                                  14.253794           72.864932

                                                       Oxford High St  \
           PM10 particulate matter (Hourly measured) Nitrogen dioxide
index
1970-12-31                                 27.532192        49.439685

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-12-31                                 22.168788

           Oxford St Ebbes (Cal Club) Reading Caversham Road  \
                                Ozone       Nitrogen dioxide
index
1970-12-31                   40.72435              40.374836

                                                     Reading Kings Road  \
           PM10 particulate matter (Hourly measured)   Nitrogen dioxide
index
1970-12-31                                 26.431217          53.670914

                                                     Reading Oxford Road  \
           PM10 particulate matter (Hourly measured)    Nitrogen dioxide
index
1970-12-31                                 26.162468           32.257804

                                                          Scrubs Lane  \
           PM10 particulate matter (Hourly measured) Nitrogen dioxide
index
1970-12-31                                 22.671392        40.952077

                                                     Watford Roadside  \
           PM10 particulate matter (Hourly measured) Nitrogen dioxide
index
1970-12-31                                 32.259391        37.439494

                      Watford Town Hall  \
                Ozone  Nitrogen dioxide
index
1970-12-31  39.028515          35.11172

                                                      \
           PM10 particulate matter (Hourly measured)
index
1970-12-31                                 20.402955


           PM2.5 particulate matter (Hourly measured)
index
1970-12-31                                   9.252213

## Step 6: Removing Multi-tier Columns

In [22]:
dailyOuterStacked = dailyOuter.stack(0, dropna=True).rename_axis(('Date', 'Location'))

In [23]:
monthlyOuterStacked = monthlyOuter.stack(0, dropna=True).rename_axis(('Date','Location'))

In [24]:
yearlyOuterStacked = yearlyOuter.stack(0, dropna=True).rename_axis(('Date','Location'))

## Dictionary to CCG

In [25]:
dailyOuterStacked.index.get_level_values(1).unique()

Index(['Broadway', 'Brook Green', 'H&F Hammersmith Town Centre',
       'H&F Shepherd's Bush', 'Oxford High St', 'Oxford St Ebbes (Cal Club)',
       'Reading Caversham Road', 'Reading Kings Road', 'Reading Oxford Road',
       'Scrubs Lane', 'Watford Roadside', 'Watford Town Hall'],
      dtype='object', name='Location')

In [26]:
def toCCG(x):
    if x == 'Oxford High St' or x == 'Oxford St Ebbes (Cal Club)':
        return "Oxford"
    elif x == 'Watford Roadside' or x == 'Watford Town Hall':
        return "Watford"
    elif x == 'Brook Green' or x == 'Broadway' or x== "H&F Shepherd's Bush" or x== 'H&F Hammersmith Town Centre' or x=='Scrubs Lane':
        return "Hammersmith and Fulham"
    elif x == 'Reading Caversham Road' or x== 'Reading Kings Road' or x=='Reading Oxford Road':
        return "Reading"
    else: return x

In [27]:
dailyOuterStacked["CCG"] = [toCCG(x) for x in dailyOuterStacked.index.get_level_values(1)]
monthlyOuterStacked["CCG"] = [toCCG(x) for x in monthlyOuterStacked.index.get_level_values(1)]
yearlyOuterStacked["CCG"] = [toCCG(x) for x in yearlyOuterStacked.index.get_level_values(1)]

dailyOuterCCG is grouped by CCG

In [28]:
dailyOuterCCG = dailyOuterStacked.groupby(["CCG"])#.resample('D').mean()
monthlyOuterCCG = monthlyOuterStacked.groupby(["CCG"])#.resample('M').mean()
yearlyOuterCCG = yearlyOuterStacked.groupby(["CCG"])#.resample('Y').mean()

In [29]:
#dailyOuterCCG.set_index("CCG", append=True, inplace=True)
dailyOuterCCG.head()

                                        Nitrogen dioxide      Ozone  \
Date       Location
1970-01-01 Broadway                            79.700234        NaN
           Brook Green                         39.241718        NaN
           H&F Hammersmith Town Centre         44.916206  35.326590
           H&F Shepherd's Bush                 72.864932        NaN
           Oxford High St                      49.439685        NaN
           Oxford St Ebbes (Cal Club)                NaN  40.724350
           Reading Caversham Road              40.374836        NaN
           Reading Kings Road                  53.670914        NaN
           Reading Oxford Road                 32.257804        NaN
           Scrubs Lane                         40.952077        NaN
           Watford Roadside                    37.439494  39.028515
           Watford Town Hall                   35.111720        NaN

                                        PM10 particulate matter (Hourly measured)  \
Date       Location
1970-01-01 Broadway                                                     31.075978
           Brook Green                                                  22.586616
           H&F Hammersmith Town Centre                                  20.188576
           H&F Shepherd's Bush                                          27.532192
           Oxford High St                                               22.168788
           Oxford St Ebbes (Cal Club)                                         NaN
           Reading Caversham Road                                       26.431217
           Reading Kings Road                                           26.162468
           Reading Oxford Road                                          22.671392
           Scrubs Lane                                                  32.259391
           Watford Roadside                                                   NaN
           Watford Town Hall                                            20.402955

                                        PM2.5 particulate matter (Hourly measured)  \
Date       Location
1970-01-01 Broadway                                                            NaN
           Brook Green                                                         NaN
           H&F Hammersmith Town Centre                                   14.253794
           H&F Shepherd's Bush                                                 NaN
           Oxford High St                                                      NaN
           Oxford St Ebbes (Cal Club)                                          NaN
           Reading Caversham Road                                              NaN
           Reading Kings Road                                                  NaN
           Reading Oxford Road                                                 NaN
           Scrubs Lane                                                         NaN
           Watford Roadside                                                    NaN
           Watford Town Hall                                              9.252213

                                        Sulphur dioxide  \
Date       Location
1970-01-01 Broadway                            6.884052
           Brook Green                              NaN
           H&F Hammersmith Town Centre              NaN
           H&F Shepherd's Bush                      NaN
           Oxford High St                           NaN
           Oxford St Ebbes (Cal Club)               NaN
           Reading Caversham Road                   NaN
           Reading Kings Road                       NaN
           Reading Oxford Road                      NaN
           Scrubs Lane                              NaN
           Watford Roadside                         NaN
           Watford Town Hall                        NaN

                                                           CCG
Date       Location
1970-01-01 Broadway                     Hammersmith and Fulham
           Brook Green                  Hammersmith and Fulham
           H&F Hammersmith Town Centre  Hammersmith and Fulham
           H&F Shepherd's Bush          Hammersmith and Fulham
           Oxford High St                               Oxford
           Oxford St Ebbes (Cal Club)                   Oxford
           Reading Caversham Road                      Reading
           Reading Kings Road                          Reading
           Reading Oxford Road                         Reading
           Scrubs Lane                  Hammersmith and Fulham
           Watford Roadside                            Watford
           Watford Town Hall                           Watford

trying to do daily, monthly, yearly by CCG

In [30]:
dailyOuterCCGgrouped = dailyOuterStacked.pivot(columns="CCG")
dailyOuterCCGgrouped.head()

                                             Nitrogen dioxide             \
CCG                                    Hammersmith and Fulham     Oxford
Date       Location
1970-01-01 Broadway                                 79.700234        NaN
           Brook Green                              39.241718        NaN
           H&F Hammersmith Town Centre              44.916206        NaN
           H&F Shepherd's Bush                      72.864932        NaN
           Oxford High St                                 NaN  49.439685

                                                                        Ozone  \
CCG                                    Reading Watford Hammersmith and Fulham
Date       Location
1970-01-01 Broadway                        NaN     NaN                    NaN
           Brook Green                     NaN     NaN                    NaN
           H&F Hammersmith Town Centre     NaN     NaN               35.32659
           H&F Shepherd's Bush             NaN     NaN                    NaN
           Oxford High St                  NaN     NaN                    NaN

                                                               \
CCG                                    Oxford Reading Watford
Date       Location
1970-01-01 Broadway                       NaN     NaN     NaN
           Brook Green                    NaN     NaN     NaN
           H&F Hammersmith Town Centre    NaN     NaN     NaN
           H&F Shepherd's Bush            NaN     NaN     NaN
           Oxford High St                 NaN     NaN     NaN

                                       PM10 particulate matter (Hourly measured)  \
CCG                                                       Hammersmith and Fulham
Date       Location
1970-01-01 Broadway                                                    31.075978
           Brook Green                                                 22.586616
           H&F Hammersmith Town Centre                                 20.188576
           H&F Shepherd's Bush                                         27.532192
           Oxford High St                                                    NaN

                                                                   \
CCG                                        Oxford Reading Watford
Date       Location
1970-01-01 Broadway                           NaN     NaN     NaN
           Brook Green                        NaN     NaN     NaN
           H&F Hammersmith Town Centre        NaN     NaN     NaN
           H&F Shepherd's Bush                NaN     NaN     NaN
           Oxford High St               22.168788     NaN     NaN

                                       PM2.5 particulate matter (Hourly measured)  \
CCG                                                        Hammersmith and Fulham
Date       Location
1970-01-01 Broadway                                                           NaN
           Brook Green                                                        NaN
           H&F Hammersmith Town Centre                                  14.253794
           H&F Shepherd's Bush                                                NaN
           Oxford High St                                                     NaN

                                                               \
CCG                                    Oxford Reading Watford
Date       Location
1970-01-01 Broadway                       NaN     NaN     NaN
           Brook Green                    NaN     NaN     NaN
           H&F Hammersmith Town Centre    NaN     NaN     NaN
           H&F Shepherd's Bush            NaN     NaN     NaN
           Oxford High St                 NaN     NaN     NaN

                                              Sulphur dioxide                 \
CCG                                    Hammersmith and Fulham Oxford Reading
Date       Location
1970-01-01 Broadway                                  6.884052    NaN     NaN
           Brook Green                                    NaN    NaN     NaN
           H&F Hammersmith Town Centre                    NaN    NaN     NaN
           H&F Shepherd's Bush                            NaN    NaN     NaN
           Oxford High St                                 NaN    NaN     NaN


CCG                                    Watford
Date       Location
1970-01-01 Broadway                        NaN
           Brook Green                     NaN
           H&F Hammersmith Town Centre     NaN
           H&F Shepherd's Bush             NaN
           Oxford High St                  NaN

In [31]:
dailyOuterCCGgrouped = dailyOuterCCGgrouped.reset_index().set_index("Date")
dailyOuterCCGgrouped.head()

                               Location       Nitrogen dioxide             \
CCG                                     Hammersmith and Fulham     Oxford
Date
1970-01-01                     Broadway              79.700234        NaN
1970-01-01                  Brook Green              39.241718        NaN
1970-01-01  H&F Hammersmith Town Centre              44.916206        NaN
1970-01-01          H&F Shepherd's Bush              72.864932        NaN
1970-01-01               Oxford High St                    NaN  49.439685

                                            Ozone                         \
CCG        Reading Watford Hammersmith and Fulham Oxford Reading Watford
Date
1970-01-01     NaN     NaN                    NaN    NaN     NaN     NaN
1970-01-01     NaN     NaN                    NaN    NaN     NaN     NaN
1970-01-01     NaN     NaN               35.32659    NaN     NaN     NaN
1970-01-01     NaN     NaN                    NaN    NaN     NaN     NaN
1970-01-01     NaN     NaN                    NaN    NaN     NaN     NaN

           PM10 particulate matter (Hourly measured)                     \
CCG                           Hammersmith and Fulham     Oxford Reading
Date
1970-01-01                                 31.075978        NaN     NaN
1970-01-01                                 22.586616        NaN     NaN
1970-01-01                                 20.188576        NaN     NaN
1970-01-01                                 27.532192        NaN     NaN
1970-01-01                                       NaN  22.168788     NaN

                   PM2.5 particulate matter (Hourly measured)                 \
CCG        Watford                     Hammersmith and Fulham Oxford Reading
Date
1970-01-01     NaN                                        NaN    NaN     NaN
1970-01-01     NaN                                        NaN    NaN     NaN
1970-01-01     NaN                                  14.253794    NaN     NaN
1970-01-01     NaN                                        NaN    NaN     NaN
1970-01-01     NaN                                        NaN    NaN     NaN

                          Sulphur dioxide
CCG        Watford Hammersmith and Fulham Oxford Reading Watford
Date
1970-01-01     NaN               6.884052    NaN     NaN     NaN
1970-01-01     NaN                    NaN    NaN     NaN     NaN
1970-01-01     NaN                    NaN    NaN     NaN     NaN
1970-01-01     NaN                    NaN    NaN     NaN     NaN
1970-01-01     NaN                    NaN    NaN     NaN     NaN

In [32]:
dailyOuterCCGgrouped = dailyOuterCCGgrouped.drop(columns = "Location").resample("D").mean()
dailyOuterCCGgrouped.head()

/Users/panchals/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

                 Nitrogen dioxide                                   \
CCG        Hammersmith and Fulham     Oxford    Reading    Watford
Date
1970-01-01              55.535033  49.439685  42.101185  36.275607

                            Ozone                               \
CCG        Hammersmith and Fulham    Oxford Reading    Watford
Date
1970-01-01               35.32659  40.72435     NaN  39.028515

           PM10 particulate matter (Hourly measured)                        \
CCG                           Hammersmith and Fulham     Oxford    Reading
Date
1970-01-01                                 26.728551  22.168788  25.088359

                      PM2.5 particulate matter (Hourly measured)         \
CCG           Watford                     Hammersmith and Fulham Oxford
Date
1970-01-01  20.402955                                  14.253794    NaN

                                    Sulphur dioxide
CCG        Reading   Watford Hammersmith and Fulham Oxford Reading Watford
Date
1970-01-01     NaN  9.252213               6.884052    NaN     NaN     NaN

In [33]:
dailyOuterCCGgrouped = dailyOuterCCGgrouped.stack(1, dropna=True).rename_axis(('Date', 'CCG'))
dailyOuterCCGgrouped.head()

                                   Nitrogen dioxide      Ozone  \
Date       CCG
1970-01-01 Hammersmith and Fulham         55.535033  35.326590
           Oxford                         49.439685  40.724350
           Reading                        42.101185        NaN
           Watford                        36.275607  39.028515

                                   PM10 particulate matter (Hourly measured)  \
Date       CCG
1970-01-01 Hammersmith and Fulham                                  26.728551
           Oxford                                                  22.168788
           Reading                                                 25.088359
           Watford                                                 20.402955

                                   PM2.5 particulate matter (Hourly measured)  \
Date       CCG
1970-01-01 Hammersmith and Fulham                                   14.253794
           Oxford                                                         NaN
           Reading                                                        NaN
           Watford                                                   9.252213

                                   Sulphur dioxide
Date       CCG
1970-01-01 Hammersmith and Fulham         6.884052
           Oxford                              NaN
           Reading                             NaN
           Watford                             NaN

monthly CCG

In [34]:
monthlyOuterCCGgrouped = monthlyOuterStacked.pivot(columns="CCG")
monthlyOuterCCGgrouped

                                             Nitrogen dioxide             \
CCG                                    Hammersmith and Fulham     Oxford
Date       Location
1970-01-31 Broadway                                 79.700234        NaN
           Brook Green                              39.241718        NaN
           H&F Hammersmith Town Centre              44.916206        NaN
           H&F Shepherd's Bush                      72.864932        NaN
           Oxford High St                                 NaN  49.439685
           Oxford St Ebbes (Cal Club)                     NaN        NaN
           Reading Caversham Road                         NaN        NaN
           Reading Kings Road                             NaN        NaN
           Reading Oxford Road                            NaN        NaN
           Scrubs Lane                              40.952077        NaN
           Watford Roadside                               NaN        NaN
           Watford Town Hall                              NaN        NaN

                                                              \
CCG                                       Reading    Watford
Date       Location
1970-01-31 Broadway                           NaN        NaN
           Brook Green                        NaN        NaN
           H&F Hammersmith Town Centre        NaN        NaN
           H&F Shepherd's Bush                NaN        NaN
           Oxford High St                     NaN        NaN
           Oxford St Ebbes (Cal Club)         NaN        NaN
           Reading Caversham Road       40.374836        NaN
           Reading Kings Road           53.670914        NaN
           Reading Oxford Road          32.257804        NaN
           Scrubs Lane                        NaN        NaN
           Watford Roadside                   NaN  37.439494
           Watford Town Hall                  NaN  35.111720

                                                        Ozone            \
CCG                                    Hammersmith and Fulham    Oxford
Date       Location
1970-01-31 Broadway                                       NaN       NaN
           Brook Green                                    NaN       NaN
           H&F Hammersmith Town Centre               35.32659       NaN
           H&F Shepherd's Bush                            NaN       NaN
           Oxford High St                                 NaN       NaN
           Oxford St Ebbes (Cal Club)                     NaN  40.72435
           Reading Caversham Road                         NaN       NaN
           Reading Kings Road                             NaN       NaN
           Reading Oxford Road                            NaN       NaN
           Scrubs Lane                                    NaN       NaN
           Watford Roadside                               NaN       NaN
           Watford Town Hall                              NaN       NaN

                                                           \
CCG                                    Reading    Watford
Date       Location
1970-01-31 Broadway                        NaN        NaN
           Brook Green                     NaN        NaN
           H&F Hammersmith Town Centre     NaN        NaN
           H&F Shepherd's Bush             NaN        NaN
           Oxford High St                  NaN        NaN
           Oxford St Ebbes (Cal Club)      NaN        NaN
           Reading Caversham Road          NaN        NaN
           Reading Kings Road              NaN        NaN
           Reading Oxford Road             NaN        NaN
           Scrubs Lane                     NaN        NaN
           Watford Roadside                NaN  39.028515
           Watford Town Hall               NaN        NaN

                                       PM10 particulate matter (Hourly measured)  \
CCG                                                       Hammersmith and Fulham
Date       Location
1970-01-31 Broadway                                                    31.075978
           Brook Green                                                 22.586616
           H&F Hammersmith Town Centre                                 20.188576
           H&F Shepherd's Bush                                         27.532192
           Oxford High St                                                    NaN
           Oxford St Ebbes (Cal Club)                                        NaN
           Reading Caversham Road                                            NaN
           Reading Kings Road                                                NaN
           Reading Oxford Road                                               NaN
           Scrubs Lane                                                 32.259391
           Watford Roadside                                                  NaN
           Watford Town Hall                                                 NaN

                                                                         \
CCG                                        Oxford    Reading    Watford
Date       Location
1970-01-31 Broadway                           NaN        NaN        NaN
           Brook Green                        NaN        NaN        NaN
           H&F Hammersmith Town Centre        NaN        NaN        NaN
           H&F Shepherd's Bush                NaN        NaN        NaN
           Oxford High St               22.168788        NaN        NaN
           Oxford St Ebbes (Cal Club)         NaN        NaN        NaN
           Reading Caversham Road             NaN  26.431217        NaN
           Reading Kings Road                 NaN  26.162468        NaN
           Reading Oxford Road                NaN  22.671392        NaN
           Scrubs Lane                        NaN        NaN        NaN
           Watford Roadside                   NaN        NaN        NaN
           Watford Town Hall                  NaN        NaN  20.402955

                                       PM2.5 particulate matter (Hourly measured)  \
CCG                                                        Hammersmith and Fulham
Date       Location
1970-01-31 Broadway                                                           NaN
           Brook Green                                                        NaN
           H&F Hammersmith Town Centre                                  14.253794
           H&F Shepherd's Bush                                                NaN
           Oxford High St                                                     NaN
           Oxford St Ebbes (Cal Club)                                         NaN
           Reading Caversham Road                                             NaN
           Reading Kings Road                                                 NaN
           Reading Oxford Road                                                NaN
           Scrubs Lane                                                        NaN
           Watford Roadside                                                   NaN
           Watford Town Hall                                                  NaN

                                                                 \
CCG                                    Oxford Reading   Watford
Date       Location
1970-01-31 Broadway                       NaN     NaN       NaN
           Brook Green                    NaN     NaN       NaN
           H&F Hammersmith Town Centre    NaN     NaN       NaN
           H&F Shepherd's Bush            NaN     NaN       NaN
           Oxford High St                 NaN     NaN       NaN
           Oxford St Ebbes (Cal Club)     NaN     NaN       NaN
           Reading Caversham Road         NaN     NaN       NaN
           Reading Kings Road             NaN     NaN       NaN
           Reading Oxford Road            NaN     NaN       NaN
           Scrubs Lane                    NaN     NaN       NaN
           Watford Roadside               NaN     NaN       NaN
           Watford Town Hall              NaN     NaN  9.252213

                                              Sulphur dioxide                 \
CCG                                    Hammersmith and Fulham Oxford Reading
Date       Location
1970-01-31 Broadway                                  6.884052    NaN     NaN
           Brook Green                                    NaN    NaN     NaN
           H&F Hammersmith Town Centre                    NaN    NaN     NaN
           H&F Shepherd's Bush                            NaN    NaN     NaN
           Oxford High St                                 NaN    NaN     NaN
           Oxford St Ebbes (Cal Club)                     NaN    NaN     NaN
           Reading Caversham Road                         NaN    NaN     NaN
           Reading Kings Road                             NaN    NaN     NaN
           Reading Oxford Road                            NaN    NaN     NaN
           Scrubs Lane                                    NaN    NaN     NaN
           Watford Roadside                               NaN    NaN     NaN
           Watford Town Hall                              NaN    NaN     NaN


CCG                                    Watford
Date       Location
1970-01-31 Broadway                        NaN
           Brook Green                     NaN
           H&F Hammersmith Town Centre     NaN
           H&F Shepherd's Bush             NaN
           Oxford High St                  NaN
           Oxford St Ebbes (Cal Club)      NaN
           Reading Caversham Road          NaN
           Reading Kings Road              NaN
           Reading Oxford Road             NaN
           Scrubs Lane                     NaN
           Watford Roadside                NaN
           Watford Town Hall               NaN

In [35]:
monthlyOuterCCGgrouped = monthlyOuterCCGgrouped.reset_index().set_index("Date")
monthlyOuterCCGgrouped

                               Location       Nitrogen dioxide             \
CCG                                     Hammersmith and Fulham     Oxford
Date
1970-01-31                     Broadway              79.700234        NaN
1970-01-31                  Brook Green              39.241718        NaN
1970-01-31  H&F Hammersmith Town Centre              44.916206        NaN
1970-01-31          H&F Shepherd's Bush              72.864932        NaN
1970-01-31               Oxford High St                    NaN  49.439685
1970-01-31   Oxford St Ebbes (Cal Club)                    NaN        NaN
1970-01-31       Reading Caversham Road                    NaN        NaN
1970-01-31           Reading Kings Road                    NaN        NaN
1970-01-31          Reading Oxford Road                    NaN        NaN
1970-01-31                  Scrubs Lane              40.952077        NaN
1970-01-31             Watford Roadside                    NaN        NaN
1970-01-31            Watford Town Hall                    NaN        NaN

                                                  Ozone                    \
CCG           Reading    Watford Hammersmith and Fulham    Oxford Reading
Date
1970-01-31        NaN        NaN                    NaN       NaN     NaN
1970-01-31        NaN        NaN                    NaN       NaN     NaN
1970-01-31        NaN        NaN               35.32659       NaN     NaN
1970-01-31        NaN        NaN                    NaN       NaN     NaN
1970-01-31        NaN        NaN                    NaN       NaN     NaN
1970-01-31        NaN        NaN                    NaN  40.72435     NaN
1970-01-31  40.374836        NaN                    NaN       NaN     NaN
1970-01-31  53.670914        NaN                    NaN       NaN     NaN
1970-01-31  32.257804        NaN                    NaN       NaN     NaN
1970-01-31        NaN        NaN                    NaN       NaN     NaN
1970-01-31        NaN  37.439494                    NaN       NaN     NaN
1970-01-31        NaN  35.111720                    NaN       NaN     NaN

                      PM10 particulate matter (Hourly measured)             \
CCG           Watford                    Hammersmith and Fulham     Oxford
Date
1970-01-31        NaN                                 31.075978        NaN
1970-01-31        NaN                                 22.586616        NaN
1970-01-31        NaN                                 20.188576        NaN
1970-01-31        NaN                                 27.532192        NaN
1970-01-31        NaN                                       NaN  22.168788
1970-01-31        NaN                                       NaN        NaN
1970-01-31        NaN                                       NaN        NaN
1970-01-31        NaN                                       NaN        NaN
1970-01-31        NaN                                       NaN        NaN
1970-01-31        NaN                                 32.259391        NaN
1970-01-31  39.028515                                       NaN        NaN
1970-01-31        NaN                                       NaN        NaN

                                 PM2.5 particulate matter (Hourly measured)  \
CCG           Reading    Watford                     Hammersmith and Fulham
Date
1970-01-31        NaN        NaN                                        NaN
1970-01-31        NaN        NaN                                        NaN
1970-01-31        NaN        NaN                                  14.253794
1970-01-31        NaN        NaN                                        NaN
1970-01-31        NaN        NaN                                        NaN
1970-01-31        NaN        NaN                                        NaN
1970-01-31  26.431217        NaN                                        NaN
1970-01-31  26.162468        NaN                                        NaN
1970-01-31  22.671392        NaN                                        NaN
1970-01-31        NaN        NaN                                        NaN
1970-01-31        NaN        NaN                                        NaN
1970-01-31        NaN  20.402955                                        NaN

                                           Sulphur dioxide                 \
CCG        Oxford Reading   Watford Hammersmith and Fulham Oxford Reading
Date
1970-01-31    NaN     NaN       NaN               6.884052    NaN     NaN
1970-01-31    NaN     NaN       NaN                    NaN    NaN     NaN
1970-01-31    NaN     NaN       NaN                    NaN    NaN     NaN
1970-01-31    NaN     NaN       NaN                    NaN    NaN     NaN
1970-01-31    NaN     NaN       NaN                    NaN    NaN     NaN
1970-01-31    NaN     NaN       NaN                    NaN    NaN     NaN
1970-01-31    NaN     NaN       NaN                    NaN    NaN     NaN
1970-01-31    NaN     NaN       NaN                    NaN    NaN     NaN
1970-01-31    NaN     NaN       NaN                    NaN    NaN     NaN
1970-01-31    NaN     NaN       NaN                    NaN    NaN     NaN
1970-01-31    NaN     NaN       NaN                    NaN    NaN     NaN
1970-01-31    NaN     NaN  9.252213                    NaN    NaN     NaN


CCG        Watford
Date
1970-01-31     NaN
1970-01-31     NaN
1970-01-31     NaN
1970-01-31     NaN
1970-01-31     NaN
1970-01-31     NaN
1970-01-31     NaN
1970-01-31     NaN
1970-01-31     NaN
1970-01-31     NaN
1970-01-31     NaN
1970-01-31     NaN

In [36]:
monthlyOuterCCGgrouped = monthlyOuterCCGgrouped.drop(columns = "Location").resample("M").mean()
monthlyOuterCCGgrouped

/Users/panchals/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

                 Nitrogen dioxide                                   \
CCG        Hammersmith and Fulham     Oxford    Reading    Watford
Date
1970-01-31              55.535033  49.439685  42.101185  36.275607

                            Ozone                               \
CCG        Hammersmith and Fulham    Oxford Reading    Watford
Date
1970-01-31               35.32659  40.72435     NaN  39.028515

           PM10 particulate matter (Hourly measured)                        \
CCG                           Hammersmith and Fulham     Oxford    Reading
Date
1970-01-31                                 26.728551  22.168788  25.088359

                      PM2.5 particulate matter (Hourly measured)         \
CCG           Watford                     Hammersmith and Fulham Oxford
Date
1970-01-31  20.402955                                  14.253794    NaN

                                    Sulphur dioxide
CCG        Reading   Watford Hammersmith and Fulham Oxford Reading Watford
Date
1970-01-31     NaN  9.252213               6.884052    NaN     NaN     NaN

In [37]:
monthlyOuterCCGgrouped = monthlyOuterCCGgrouped.stack(1, dropna=True).rename_axis(('Date', 'CCG'))
monthlyOuterCCGgrouped

                                   Nitrogen dioxide      Ozone  \
Date       CCG
1970-01-31 Hammersmith and Fulham         55.535033  35.326590
           Oxford                         49.439685  40.724350
           Reading                        42.101185        NaN
           Watford                        36.275607  39.028515

                                   PM10 particulate matter (Hourly measured)  \
Date       CCG
1970-01-31 Hammersmith and Fulham                                  26.728551
           Oxford                                                  22.168788
           Reading                                                 25.088359
           Watford                                                 20.402955

                                   PM2.5 particulate matter (Hourly measured)  \
Date       CCG
1970-01-31 Hammersmith and Fulham                                   14.253794
           Oxford                                                         NaN
           Reading                                                        NaN
           Watford                                                   9.252213

                                   Sulphur dioxide
Date       CCG
1970-01-31 Hammersmith and Fulham         6.884052
           Oxford                              NaN
           Reading                             NaN
           Watford                             NaN

yearly CCG

In [38]:
yearlyOuterCCGgrouped = yearlyOuterStacked.pivot(columns="CCG")
yearlyOuterCCGgrouped = yearlyOuterCCGgrouped.reset_index().set_index("Date").drop(columns = "Location").resample("Y").mean().stack(1, dropna=True).rename_axis(('Date', 'CCG'))
yearlyOuterCCGgrouped.head()

/Users/panchals/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

                                   Nitrogen dioxide      Ozone  \
Date       CCG
1970-12-31 Hammersmith and Fulham         55.535033  35.326590
           Oxford                         49.439685  40.724350
           Reading                        42.101185        NaN
           Watford                        36.275607  39.028515

                                   PM10 particulate matter (Hourly measured)  \
Date       CCG
1970-12-31 Hammersmith and Fulham                                  26.728551
           Oxford                                                  22.168788
           Reading                                                 25.088359
           Watford                                                 20.402955

                                   PM2.5 particulate matter (Hourly measured)  \
Date       CCG
1970-12-31 Hammersmith and Fulham                                   14.253794
           Oxford                                                         NaN
           Reading                                                        NaN
           Watford                                                   9.252213

                                   Sulphur dioxide
Date       CCG
1970-12-31 Hammersmith and Fulham         6.884052
           Oxford                              NaN
           Reading                             NaN
           Watford                             NaN

format date index

In [39]:
# monthlyOuterStacked.index = [str(x)[0:7] for x in monthlyOuterStacked.index]
# yearlyOuterStacked.index = [str(x)[0:4] for x in yearlyOuterStacked.index]

# monthlyOuterCCGgrouped.index = [str(x)[0:7] for x in monthlyOuterCCGgrouped.index]
# yearlyOuterCCGgrouped.index = [str(x)[0:4] for x in yearlyOuterCCGgrouped.index]

save files

In [40]:
dailyOuterStacked.to_csv("dailyOuterStacked.csv")
monthlyOuterStacked.to_csv("monthlyOuterStacked.csv")
yearlyOuterStacked.to_csv("yearlyOuterStacked.csv")

dailyOuterCCGgrouped.to_csv("dailyOuterCCGgrouped.csv")
monthlyOuterCCGgrouped.to_csv("monthlyOuterCCGgrouped.csv")
yearlyOuterCCGgrouped.to_csv("yearlyOuterCCGgrouped.csv")

# # Graphs

In [41]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
% matplotlib inline

UsageError: Line magic function `%` not found.

In [ ]:
for l in yearlyOuterStacked.index.get_level_values(1).unique():
    plt.figure(figsize=(10, 6))
    sns.lineplot(y = 'Indicator Value (R µg/m3)' ,
                 x ='Date',
                 hue = 'Pollutant',
                 data = yearlyOuterStacked).set_title(l)
    plt.xticks(rotation=90)
    plt.show()

In [ ]:
#sns.lineplot(data=df, x='x', y='y', hue='color')