In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
pd.__version__

'0.23.4'

In [7]:
monthly = pd.read_csv('./monthlyOuterStacked.csv')
yearly = pd.read_csv('./yearlyOuterStacked.csv')

In [8]:
monthly.head()

,Date,Location,Nitrogen dioxide,Ozone,PM10 particulate matter (Hourly measured),PM2.5 particulate matter (Hourly measured),Sulphur dioxide,CCG
0,1970-01-31,Broadway,79.700234,NaN,31.075978,NaN,6.884052,Hammersmith and Fulham
1,1970-01-31,Brook Green,39.241718,NaN,22.586616,NaN,NaN,Hammersmith and Fulham
2,1970-01-31,H&F Hammersmith Town Centre,44.916206,35.32659,20.188576,14.253794,NaN,Hammersmith and Fulham
3,1970-01-31,H&F Shepherd's Bush,72.864932,NaN,27.532192,NaN,NaN,Hammersmith and Fulham
4,1970-01-31,Oxford High St,49.439685,NaN,22.168788,NaN,NaN,Oxford